<app-navbar-for-pupil></app-navbar-for-pupil>

<!-- შავი ქარდი -->

<!-- <div class="container">
  <p class="container-title">უნივერსიტეტის ფაკულტეტები</p>

  <div class="gradient-cards">
    <div class="card">
      <div class="container-card bg-blue-box">
        <p class="card-title">აქ წავა სახელი უნივერსიტეტის</p>
        <p class="card-description">აქ კიდე რაღაცა მცირე შესავალი</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-blue-box">
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->

<section class="title container">
  <div class="row">
    <div class="col-md-12">
      <h1>უნივერსიტეტების ფაკულტეტები</h1>
      <div class="seperator"></div>
      <!-- <p>Blocks with hover effects</p> -->
    </div>
  </div>
</section>

<!-- Start Blog Layout -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 item">
      <div class="item-in">
        <h4>Some Kind of Title</h4>
        <div class="seperator"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
          expedita eveniet consectetur, voluptates voluptatum, sit excepturi
          earum. Veniam eius amet, accusantium, deserunt officia, quos qui
          debitis laboriosam velit quis autem!
        </p>
        <a href="#"
          >Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 item">
      <div class="item-in">
        <h4>Some Kind of Title</h4>
        <div class="seperator"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
          expedita eveniet consectetur, voluptates voluptatum, sit excepturi
          earum. Veniam eius amet, accusantium, deserunt officia, quos qui
          debitis laboriosam velit quis autem!
        </p>
        <a href="#"
          >Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    @for (Card of cards; track $index){
    <div class="col-md-6 item">
      <div class="item-in">
        <h4>{{ Card.title }}</h4>
        <div class="seperator"></div>
        <p>
          {{ Card.text }}
        </p>
        <a href="#"
          >Read More
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
          </svg>        </a>
      </div>
    </div>
    }
  </div>
</div>
<app-footer-forpupil></app-footer-forpupil>
