<!-- <section class="product">
    <div class="container">
      <div class="row">
      <div class="col-lg-3">
  
        <div class="mycard">
        <img src="assets/img/b.jpg" class="w-100" alt="">
        <div class="mbody">
        <h2>Car Brands</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Nihil consectetur expedita cupiditate quam natus voluptates
              quis, sed quas, suscipit nam optio aut illum?
             Saepe blanditiis cum, esse omnis mollitia quo?</p>
             <a class="butto" href="">Read More</a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3">
  
      <div class="mycard">
      <img src="assets/img/imp.jpg" class="w-100" alt="">
      <div class="mbody">
      <h2>Car Brands</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Nihil consectetur expedita cupiditate quam natus voluptates
            quis, sed quas, suscipit nam optio aut illum?
           Saepe blanditiis cum, esse omnis mollitia quo?</p>
           <a class="butto" href="">Read More</a>
      </div>
    </div>
  </div>
  
  
  <div class="col-lg-3">
  
    <div class="mycard">
    <img src="assets/img/nurburgring.jpg" class="w-100" alt="">
    <div class="mbody">
    <h2>Car Brands</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Nihil consectetur expedita cupiditate quam natus voluptates
          quis, sed quas, suscipit nam optio aut illum?
         Saepe blanditiis cum, esse omnis mollitia quo?</p>
         <a class="butto" href="">Read More</a>
    </div>
  </div>
  </div>
  
  
  <div class="col-lg-3">
  
    <div class="mycard">
    <img src="assets/img/bmw.jpg" class="w-100" alt="">
    <div class="mbody">
    <h2>Car Brands</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Nihil consectetur expedita cupiditate quam natus voluptates
          quis, sed quas, suscipit nam optio aut illum?
         Saepe blanditiis cum, esse omnis mollitia quo?</p>
         <a class="butto" href="">Read More</a>
    </div>
  </div>
  </div>
  
  
  
    </div>
    </div>
  </section> -->



  <!-- <section class="projects section" id="projects">
    <h2 class="section__title-1">
      <span>University</span>
    </h2>
  
    <div class="projects__container container grid">
      <article class="projects__card">
        <div class="projects__image">
          <img src="https://i.ytimg.com/vi/ktbfL5Sql3s/maxresdefault.jpg" alt="image" class="projects__img">
  
          <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
          </a>
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">ალტეს უნივერსიტეტი</h3>
          <p class="projects__description">
            „ალტე უნივერსიტეტი“ ქართულ საგანმანათლებლო სივრცეში 22 წლიანი გამოცდილებისა და ისტორიის მქონე,
             სრულად ავტორიზებული უმაღლესი სასწავლებელია, იქ ისწავლება:
              ბიზნესის სკოლა, მედიცინის საერთაშორისო სკოლა, სამართლისა და სოციალურ მეცნიერებათა სკოლა, საინფორმაციო ტექნოლოგიების სკოლა. 
          </p>
        </div>
  
      </article>
  
      <article class="projects__card">
        <div class="projects__image">
          <img src="https://eurofasad.ge/_static/2009/09/76/8a3c26198e7e499b90aac6d0e31275e4/sakarvelos-univer_1.jpg" alt="image" class="projects__img">
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">საქართველოს უნივერსიტეტი</h3>
    
  
          <p class="projects__description">
            საქართველოს უნივერსიტეტი 2004 წელს დაფუძნდა, პროფესორების, მანანა სანაძისა და გიული ალასანიას მიერ,
             როგორც საზოგადოებრივ მეცნიერებათა სკოლა. სხვადასხვა დისციპლინაში საგანმანათლებლო პროგრამების დამატების შემდგომ,
              2007 წლიდან საზოგადოებრივ მეცნიერებათა სკოლა იწოდება საქართველოს უნივერსიტეტად.
          </p>
        </div>

      </article>
  
      <article class="projects__card">
        <div class="projects__image">
          <img src="https://edu.aris.ge/news/wp-content/uploads/2014/10/1381827673_gerbi001.jpg"  alt="image" class="projects__img">
  
          <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
          </a>
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">App</h3>
          <h2 class="projects__title">Fast Food App</h2>
  
          <p class="projects__description">
            Project that you carry out in the design
            and structure of the layout, showing the
            design at the client's request.
          </p>
        </div>
  
        <div class="projects__buttons">
          <a href="https://github.com/" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> Source Code
          </a>
  
          <a href="https://dribbble.com/" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> View
          </a>
        </div>
      </article>
  
      <article class="projects__card">
        <div class="projects__image">
          <img src="https://images.unsplash.com/photo-1515560570411-00a0026e6086?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY2MDJ8&ixlib=rb-4.0.3&q=85" alt="image" class="projects__img">
  
          <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
          </a>
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">Website</h3>
          <h2 class="projects__title">Coffee Delivery Website</h2>
  
          <p class="projects__description">
            Project that you carry out in the design
            and structure of the layout, showing the
            design at the client's request.
          </p>
        </div>
  
        <div class="projects__buttons">
          <a href="https://github.com/" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> Source Code
          </a>
  
          <a href="https://dribbble.com/" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> View
          </a>
        </div>
      </article>
  
      <article class="projects__card">
        <div class="projects__image">
          <img src="https://images.unsplash.com/photo-1672257493461-704902362c1d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY0OTV8&ixlib=rb-4.0.3&q=85" alt="image" class="projects__img">
  
          <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
          </a>
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">Website</h3>
          <h2 class="projects__title">Barbershop Website</h2>
  
          <p class="projects__description">
            Project that you carry out in the design
            and structure of the layout, showing the
            design at the client's request.
          </p>
        </div>
  
        <div class="projects__buttons">
          <a href="https://github.com/" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> Source Code
          </a>
  
          <a href="https://dribbble.com/" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> View
          </a>
        </div>
      </article>

      <article class="projects__card">
        <div class="projects__image">
          <img src="https://images.unsplash.com/photo-1672257493461-704902362c1d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY0OTV8&ixlib=rb-4.0.3&q=85" alt="image" class="projects__img">
  
          <a href="#" class="projects__button button">
            <i class="ri-arrow-right-up-line"></i>
          </a>
        </div>
  
        <div class="projects__content">
          <h3 class="projects__subtitle">Website</h3>
          <h2 class="projects__title">Barbershop Website</h2>
  
          <p class="projects__description">
            Project that you carry out in the design
            and structure of the layout, showing the
            design at the client's request.
          </p>
        </div>
  
        <div class="projects__buttons">
          <a href="https://github.com/" target="_blank" class="projects__link">
            <i class="ri-github-line"></i> Source Code
          </a>
  
          <a href="https://dribbble.com/" target="_blank" class="projects__link">
            <i class="ri-dribbble-line"></i> View
          </a>
        </div>
      </article>
    </div>


    


    
  </section> -->



  <div class="wrapper">
    <div class="container">
  
      <!-- card 1 -->
      <input type="radio" name="slide" id="c1" checked>
      <label for="c1" class="card">
        <div class="row">
          <!-- <div class="icon">1</div> -->
          <div class="description">
            <p>საქართველოს უნივერსიტეტი</p>
          </div>
        </div>
      </label>
      
      <!-- card 2 -->
      <input type="radio" name="slide" id="c2">
      <label for="c2" class="card">
        <div class="row">
          <div class="icon">2</div>
          <div class="description">
            <h4>Digital Technology</h4>
            <p>Gets better every day -
              stay tuned</p>
          </div>
        </div>
      </label>
  
      <!-- card 3 -->
      <input type="radio" name="slide" id="c3">
      <label for="c3" class="card">
        <div class="row">
          <div class="icon">3</div>
          <div class="description">
            <h4>Globalization</h4>
            <p>Help people all over the world</p>
          </div>
        </div>
      </label>
  
      <!-- card 4 -->
      <input type="radio" name="slide" id="c4">
      <label for="c4" class="card">
        <div class="row">
          <div class="icon">4</div>
          <div class="description">
            <h4>New technologies</h4>
            <p>Space engineering becomes
              more and more advanced</p>
          </div>
        </div>
      </label>
      
    </div>
  </div>