<!-- 
<div [formGroup]="Form">
    <div class="from-field">
      <label for="title">ფოტო</label>
      <input type="text" id="title" formControlName="url" />
    </div>
    <div class="from-field">
      <label for="title">სათაური</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div class="from-field">
      <label for="maintext">მთავარი ტექსტი</label>
      <input type="text" id="maintext" formControlName="mainText" />
    </div>
    <div class="from-field">
      <label class="history">ისტორია</label>
      <textarea
        class="form-control"
        formControlName="history"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <label class="history">აიბიტურიენტებისთვის</label>
      <textarea
        class="form-control"
        formControlName="forpupil"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <button type="button" (click)="addEvents()">Add event</button>
      <div formArrayName="Events">
        <div
          *ngFor="let event of Events.controls; let i = index"
          [formGroupName]="i"
        >
          <h3>Event {{ i + 1 }}</h3>
          <label for="url">ფოტო</label>
          <input id="url" formControlName="url" />
          <label for="Title">სათაური</label>
          <input id="Title" formControlName="Title" />
          <label for="text">მთავარი ტექსტი</label>
          <input id="text" formControlName="text" />
          <button type="button" (click)="removeEvent(i)">Remove event</button>
        </div>
      </div>
    </div>
  
    <div class="from-field">
      <div formArrayName="sections">
        <div
          *ngFor="let section of sections.controls; let i = index"
          [formGroupName]="i"
        >
          <h3>Section {{ i + 1 }}</h3>
          <label for="title">Title:</label>
          <input id="title" formControlName="title" />
  
          <div formArrayName="programNames">
            <div
              *ngFor="
                let programName of section.get('programNames')?.value;
                let j = index
              "
              [formGroupName]="j"
            >
              <label for="programName">Program Name:</label>
              <input id="programName" formControlName="programName" />
  
              <button type="button" (click)="removeProgramName(i, j)">
                Remove Program Name
              </button>
            </div>
          </div>
          <button type="button" (click)="addProgramName(i)">
            Add Program Name
          </button>
          <button type="button" (click)="removeSection(i)">Remove Section</button>
          <button type="button" (click)="addSection()">Add Section</button>
        </div>
      </div>
    </div>
    <div class="from-field">
      <label class="history">გაცვლითი პროგრამებია</label>
      <textarea
        class="form-control"
        formControlName="ExchangePrograms"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <label class="history">ლაბორატორიები</label>
      <textarea
        class="form-control"
        formControlName="Labs"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <label class="history">დასაქმება</label>
      <textarea
        class="form-control"
        formControlName="Jobs"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <label class="history">სტუდენტური ცხოვრება</label>
      <textarea
        class="form-control"
        formControlName="StudentsLife"
        aria-label="With textarea"
      ></textarea>
    </div>
    <div class="from-field">
      <label class="history">გადახდის მეთოდები</label>
      <textarea
        class="form-control"
        formControlName="PaymentMethods"
        aria-label="With textarea"
      ></textarea>
    </div>
  </div>
  <button (click)="Submit()">Submit</button>


  
   -->

<!-- <div [formGroup]="Form">
  <div class="from-field">
    <label for="title">ფოტო</label>
    <input type="text" id="title" formControlName="url" />
  </div>
  <div class="from-field">
    <label for="title">სათაური</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="from-field">
    <label for="maintext">მთავარი ტექსტი</label>
    <input type="text" id="maintext" formControlName="mainText" />
  </div>
  <div class="from-field">
    <label class="history">ისტორია</label>
    <textarea
      class="form-control"
      formControlName="history"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">აიბიტურიენტებისთვის</label>
    <textarea
      class="form-control"
      formControlName="forpupil"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <button type="button" (click)="addEvents()">Add event</button>
    <div formArrayName="Events">
      <div
        *ngFor="let event of Events.controls; let i = index"
        [formGroupName]="i"
      >
        <h3>Event {{ i + 1 }}</h3>
        <label for="url">ფოტო</label>
        <input id="url" formControlName="url" />
        <label for="Title">სათაური</label>
        <input id="Title" formControlName="Title" />
        <label for="text">მთავარი ტექსტი</label>
        <input id="text" formControlName="text" />
        <button type="button" (click)="removeEvent(i)">Remove event</button>
      </div>
    </div>
  </div>

  <div class="from-field">
    <div formArrayName="sections">
      <div
        *ngFor="let section of sections.controls; let i = index"
        [formGroupName]="i"
      >
        <h3>Section {{ i + 1 }}</h3>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" />

        <div formArrayName="programNames">
          <div
            *ngFor="
              let programName of section.get('programNames')?.value;
              let j = index
            "
            [formGroupName]="j"
          >
            <label for="programName">Program Name:</label>
            <input id="programName" formControlName="programName" />

            <button type="button" (click)="removeProgramName(i, j)">
              Remove Program Name
            </button>
          </div>
        </div>
        <button type="button" (click)="addProgramName(i)">
          Add Program Name
        </button>
        <button type="button" (click)="removeSection(i)">Remove Section</button>
        <button type="button" (click)="addSection()">Add Section</button>
      </div>
    </div>
  </div>


  <div class="from-field">
    <div formArrayName="sections">
      <div
        *ngFor="let section of sections.controls; let i = index"
        [formGroupName]="i"
      >
        <h3>Section {{ i + 1 }}</h3>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" />

        <div formArrayName="programNames">
          <div
            *ngFor="
              let programName of section.get('programNames')?.value;
              let j = index
            "
            [formGroupName]="j"
          >
            <label for="programName">Program Name:</label>
            <input id="programName" formControlName="programName" />

            <button type="button" (click)="removeProgramName(i, j)">
              Remove Program Name
            </button>
          </div>
        </div>

        <div formArrayName="SavaldebuloSagnebi">
          <div
            *ngFor="
              let programName of section.get('SavaldebuloSagnebi')?.value;
              let j = index
            "
            [formGroupName]="j"
          >
            <label for="SagnisSaxeli">SagnisSaxeli:</label>
            <input id="SagnisSaxeli" formControlName="SagnisSaxeli" />

            <button type="button" (click)="removeSagnisSaxeli(i, j)">
              Remove Sagnis saxeli
            </button>
          </div>

          <div
          *ngFor="
            let programName of section.get('SavaldebuloSagnebi')?.value;
            let j = index
          "
          [formGroupName]="j"
        >
          <label for="Koeficienti">Koeficienti:</label>
          <input id="Koeficienti" formControlName="Koeficienti" />

          <button type="button" (click)="removeKoeficientebi(i, j)">
            Remove Koeficienti
          </button>
        </div>
          
        <div
        *ngFor="
          let programName of section.get('SavaldebuloSagnebi')?.value;
          let j = index
        "
        [formGroupName]="j"
      >
        <label for="MinimaluriZgvari">MinimaluriZgvari:</label>
        <input id="MinimaluriZgvari" formControlName="MinimaluriZgvari" />

        <button type="button" (click)="removeMinimaluriZgvarebi(i, j)">
          Remove MinimaluriZgvari
        </button>
      </div>


      <div
      *ngFor="
        let programName of section.get('SavaldebuloSagnebi')?.value;
        let j = index
      "
      [formGroupName]="j"
    >
      <label for="Prioriteti">Prioriteti:</label>
      <input id="Prioriteti" formControlName="Prioriteti" />

      <button type="button" (click)="removePrioritetebi(i, j)">
        Remove Prioriteti
      </button>
    </div>


        </div>
        <button type="button" (click)="addSagnisSaxeli(i)">
          Add Sagnis saxeli
        </button>
        <button type="button" (click)="addKoeficienti(i)">
          Add koeficienti
        </button>
        <button type="button" (click)="addMinimaluriZgvarebi(i)">
          Add minimaluri zgvari
        </button>
        <button type="button" (click)="addPrioritetebi(i)">
          Add Prioritetebi
        </button>
        






        <div formArrayName="ArchevitiSavaldebuloSagnebi">
          <div
            *ngFor="
              let programName of section.get('ArchevitiSavaldebuloSagnebi')?.value;
              let j = index
            "
            [formGroupName]="j"
          >
            <label for="SagnisSaxeli">SagnisSaxeli:</label>
            <input id="SagnisSaxeli" formControlName="SagnisSaxeli" />

            <button type="button" (click)="removeArchevitiSagnisSaxeli(i, j)">
              Remove Sagnis saxeli
            </button>
          </div>

          <div
          *ngFor="
            let programName of section.get('ArchevitiSavaldebuloSagnebi')?.value;
            let j = index
          "
          [formGroupName]="j"
        >
          <label for="Koeficienti">Koeficienti:</label>
          <input id="Koeficienti" formControlName="Koeficienti" />

          <button type="button" (click)="removeArchevitiKoeficientebi(i, j)">
            Remove Koeficienti
          </button>
        </div>
          
        <div
        *ngFor="
          let programName of section.get('ArchevitiSavaldebuloSagnebi')?.value;
          let j = index
        "
        [formGroupName]="j"
      >
        <label for="MinimaluriZgvari">MinimaluriZgvari:</label>
        <input id="MinimaluriZgvari" formControlName="MinimaluriZgvari" />

        <button type="button" (click)="removeArchevitiMinimaluriZgvarebi(i, j)">
          Remove MinimaluriZgvari
        </button>
      </div>


      <div
      *ngFor="
        let programName of section.get('ArchevitiSavaldebuloSagnebi')?.value;
        let j = index
      "
      [formGroupName]="j"
    >
      <label for="Prioriteti">Prioriteti:</label>
      <input id="Prioriteti" formControlName="Prioriteti" />

      <button type="button" (click)="removeArchevitiPrioritetebi(i, j)">
        Remove Prioriteti
      </button>
    </div>


        </div>
        <button type="button" (click)="addArchevitiSagnisSaxeli(i)">
          Add Sagnis saxeli
        </button>
        <button type="button" (click)="addArchevitiKoeficienti(i)">
          Add koeficienti
        </button>
        <button type="button" (click)="addArchevitiMinimaluriZgvarebi(i)">
          Add minimaluri zgvari
        </button>
        <button type="button" (click)="addArchevitiPrioritetebi(i)">
          Add Prioritetebi
        </button>



        <button type="button" (click)="removeSection(i)">Remove Section</button>
        <button type="button" (click)="addSection()">Add Section</button>
      </div>
    </div>
  </div>
  <div class="from-field">
    <label class="history">გაცვლითი პროგრამებია</label>
    <textarea
      class="form-control"
      formControlName="ExchangePrograms"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">ლაბორატორიები</label>
    <textarea
      class="form-control"
      formControlName="Labs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">დასაქმება</label>
    <textarea
      class="form-control"
      formControlName="Jobs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">სტუდენტური ცხოვრება</label>
    <textarea
      class="form-control"
      formControlName="StudentsLife"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">გადახდის მეთოდები</label>
    <textarea
      class="form-control"
      formControlName="PaymentMethods"
      aria-label="With textarea"
    ></textarea>
  </div>
</div>
<button (click)="Submit()">Submit</button>


 -->

<div [formGroup]="Form">
  <div class="from-field">
    <label for="title">ფოტო</label>
    <input type="text" id="title" formControlName="url" />
  </div>
  <div class="from-field">
    <label for="title">სათაური</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="from-field">
    <label for="maintext">მთავარი ტექსტი</label>
    <input type="text" id="maintext" formControlName="mainText" />
  </div>
  <div class="from-field">
    <label class="history">ისტორია</label>
    <textarea
      class="form-control"
      formControlName="history"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">აიბიტურიენტებისთვის</label>
    <textarea
      class="form-control"
      formControlName="forpupil"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <button type="button" (click)="addEvents()">Add event</button>
    <div formArrayName="Events">
      <div
        *ngFor="let event of Events.controls; let i = index"
        [formGroupName]="i"
      >
        <h3>Event {{ i + 1 }}</h3>
        <label for="url">ფოტო</label>
        <input id="url" formControlName="url" />
        <label for="Title">სათაური</label>
        <input id="Title" formControlName="Title" />
        <label for="text">მთავარი ტექსტი</label>
        <input id="text" formControlName="text" />
        <button type="button" (click)="removeEvent(i)">Remove event</button>
      </div>
    </div>
  </div>

  <div class="from-field">
    <div formArrayName="sections">
      <div
        *ngFor="let section of sections.controls; let i = index"
        [formGroupName]="i"
      >
        <h3>Section {{ i + 1 }}</h3>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" />

        <div formArrayName="programNames">
          <div
            *ngFor="
              let programName of section.get('programNames')?.value;
              let j = index
            "
            [formGroupName]="j"
          >
            <label for="programName">Program Name:</label>
            <input id="programName" formControlName="programName" />
            <button type="button" (click)="removeProgramName(i, j)">
              Remove Program Name
            </button>
          </div>
        </div>
        <button type="button" (click)="addProgramName(i)">
          Add Program Name
        </button>

        <div formArrayName="SavaldebuloSagnebi">
          <div
            *ngFor="
              let sagnisSaxeli of section.get('SavaldebuloSagnebi')?.value;
              let k = index
            "
            [formGroupName]="k"
          >
            <label for="SagnisSaxeli">SagnisSaxeli:</label>
            <input id="SagnisSaxeli" formControlName="SagnisSaxeli" />
            <label for="Koeficienti">Koeficienti:</label>
            <input id="Koeficienti" formControlName="Koeficienti" />
            <label for="MinimaluriZgvari">MinimaluriZgvari:</label>
            <input id="MinimaluriZgvari" formControlName="MinimaluriZgvari" />
            <label for="Prioriteti">Prioriteti:</label>
            <input id="Prioriteti" formControlName="Prioriteti" />
            <button type="button" (click)="removeSagnisSaxeli(i, k)">
              Remove Sagnis saxeli
            </button>
          </div>
        </div>
        <button type="button" (click)="addSagnisSaxeli(i)">
          Add Sagnis saxeli
        </button>

        <div formArrayName="ArchevitiSavaldebuloSagnebi">
          <div
            *ngFor="
              let archevitiSagnisSaxeli of section.get(
                'ArchevitiSavaldebuloSagnebi'
              )?.value;
              let l = index
            "
            [formGroupName]="l"
          >
            <label for="SagnisSaxeli">SagnisSaxeli:</label>
            <input id="SagnisSaxeli" formControlName="SagnisSaxeli" />
            <label for="Koeficienti">Koeficienti:</label>
            <input id="Koeficienti" formControlName="Koeficienti" />
            <label for="MinimaluriZgvari">MinimaluriZgvari:</label>
            <input id="MinimaluriZgvari" formControlName="MinimaluriZgvari" />
            <label for="Prioriteti">Prioriteti:</label>
            <input id="Prioriteti" formControlName="Prioriteti" />
            <button type="button" (click)="removeArchevitiSagnisSaxeli(i, l)">
              Remove Sagnis saxeli
            </button>
          </div>
        </div>
        <button type="button" (click)="addArchevitiSagnisSaxeli(i)">
          Add Archeviti Sagnis saxeli
        </button>

        <button type="button" (click)="removeSection(i)">Remove Section</button>
        <button type="button" (click)="addSection()">Add Section</button>
      </div>
    </div>
  </div>

  <div class="from-field">
    <label class="history">გაცვლითი პროგრამებია</label>
    <textarea
      class="form-control"
      formControlName="ExchangePrograms"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">ლაბორატორიები</label>
    <textarea
      class="form-control"
      formControlName="Labs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">დასაქმება</label>
    <textarea
      class="form-control"
      formControlName="Jobs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">სტუდენტური ცხოვრება</label>
    <textarea
      class="form-control"
      formControlName="StudentsLife"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">გადახდის მეთოდები</label>
    <textarea
      class="form-control"
      formControlName="PaymentMethods"
      aria-label="With textarea"
    ></textarea>
  </div>
</div>
<button (click)="Submit()">Submit</button>
