<app-navbar-for-pupil> </app-navbar-for-pupil>

<main>
    <div *ngIf="card">
        {{ card.title }}
        <!-- {{ card.text }}
        {{card.mainText}}
        {{card.history}}
        {{card.forpupil}}
        {{card.programs}}
        {{card.ScholarshipAndFunding}}
        {{card.ExchangePrograms}}
        {{card.Labs}}
        {{card.Jobs}}
        {{card.StudentsLife}}
        {{card.PaymentMethods}}
        {{card.Events}}  -->
      </div>
</main>

<app-footer-for-pupil></app-footer-for-pupil>
