<app-navbar-for-pupil> </app-navbar-for-pupil>

<main>
  <div *ngIf="card">
    <div class="site">
      <div class="Container">
        <div class="img">
          <img src="{{ card.url }}" width="100%" height="90%" alt="" />
        </div>
        <div class="text-container">
          <span></span>
          <h1>{{ card.title }}</h1>
          <p>
            {{ card.history }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div (click)="ProgramClicked()" class="card">
          <h1 style="color: rgb(106, 234, 214)">პროგრამები</h1>
        </div>
      </div>
      <div class="col-lg-4">
        <div (click)="EventClicked()" class="card">
          <h1>სიახლეები</h1>
        </div>
      </div>
      <div class="col-lg-4">
        <div (click)="GuideClicked()" class="card">
          <h1>გზამკვლევი</h1>
        </div>
      </div>
    </div>
  </div>

  <div style="display: block" #Program *ngFor="let section of card.sections">
    <div class="title">
      <h2>{{ section.title }}</h2>
    </div>
    <div class="container1">
      <div class="row1">
        @for (program of section.programNames; track $index) {
          <div (click)="FaclutyClicked(program.programName)"  class="col-lg-4" id="col-lg-4">
            <div class="card1">
            {{ program.programName }}
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div style="display: none" #events class="card-container2">
    @for (event of card.Events; track $index){
    <div class="card2">
      <img class="img1" src="{{ event.url }}" />
      <div class="card-content2">
        <h2>{{ event.Title }}</h2>
        <p>{{ event.text }}</p>
      </div>
    </div>
    }
  </div>

  <div class="guide" *ngIf="card">
    <div #guide style="display: none" class="accord">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              სტიპენდიები და დაფინანსება
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              {{ card.ScholarshipAndFunding }}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              სტუდენტური ცხოვრება
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              {{ card.StudentsLife }}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              დასაქმება
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              {{ card.Jobs }}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              გაცვლითი პროგრამები
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              {{ card.ExchangePrograms }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer-for-pupil></app-footer-for-pupil>
