.navbar{
    background-color: #77b1e0;

}
#svg{
    width: 120px;
    height: 100%;
}

.nav-link{
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
        background-color: #77b1e0;
    }

        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
}


/* Remove focus outline */

/* Remove any border properties */
.no-border {
    border: none;
    border-width: 0;
    box-shadow: none; /* Remove box-shadow if any */
}:focus{
    outline: none;

}

/* Ensure other focus states are also handled */
.no-border:focus-visible {
    outline: none;
}

/* Apply to all SVGs if needed */
svg:focus {
    outline: none;
}

svg {
    border: none;
    border-width: 0;
    box-shadow: none;
}