<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="Time">Time:</label>
    <input id="Time" formControlName="time" />
  </div>

  <div formArrayName="questions">
    <div
      *ngFor="let question of questions.controls; let i = index"
      [formGroupName]="i"
    >
      <label for="question-{{ i }}">Question:</label>
      <input id="question-{{ i }}" formControlName="question" />

      <label for="correctanswer-{{ i }}">Correct Answer:</label>
      <input id="correctanswer-{{ i }}" formControlName="correctAnswer" />

      <label for="img-{{ i }}">Img:</label>
      <input id="img-{{ i }}" formControlName="img" />

      <div formArrayName="incorrectAnswers">
        <div
          *ngFor="
            let incorrectAnswer of getIncorrectAnswers(i).controls;
            let j = index
          "
          [formGroupName]="j"
        >
          <label for="incorrectAnswer-{{ i }}-{{ j }}">Incorrect Answer:</label>
          <input
            id="incorrectAnswer-{{ i }}-{{ j }}"
            formControlName="answer"
          />
          <button type="button" (click)="removeIncorrectAnswer(i, j)">
            Remove Incorrect Answer
          </button>
        </div>
        <button type="button" (click)="addIncorrectAnswer(i)">
          Add Incorrect Answer
        </button>
      </div>

      <button type="button" (click)="removeQuestion(i)">Remove Question</button>
    </div>
    <button type="button" (click)="addQuestion()">Add Question</button>
  </div>

  <div formGroupName="bonusQuestion">
    <label for="bonusQuestion-question">Bonus Question:</label>
    <input id="bonusQuestion-question" formControlName="question" />

    <label for="bonusQuestion-correctanswer">Bonus Correct Answer:</label>
    <input id="bonusQuestion-correctanswer" formControlName="correctAnswer" />

    <label for="bonusQuestion-img">Bonus Img:</label>
    <input id="bonusQuestion-img" formControlName="img" />

    <div formArrayName="incorrectAnswers">
      <div
        *ngFor="
          let incorrectAnswer of bonusQuestion.get('incorrectAnswers')?.value;
          let j = index
        "
        [formGroupName]="j"
      >
        <label for="bonusIncorrectAnswer-{{ j }}">Incorrect Answer:</label>
        <input id="bonusIncorrectAnswer-{{ j }}" formControlName="answer" />
        <button type="button" (click)="removeBonusIncorrectAnswer(j)">
          Remove Incorrect Answer
        </button>
      </div>
      <button type="button" (click)="addBonusIncorrectAnswer()">
        Add Incorrect Answer
      </button>
    </div>

    <label for="bonusQuestion-coins">Coins:</label>
    <input id="bonusQuestion-coins" formControlName="coins" />
  </div>

  <button type="submit">Submit</button>
</form>
