<!-- <form [formGroup]="Form" >
    <div class="from-field">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" />
        <div class="error">
          <div
            *ngIf="
              Form.get('email')?.hasError('required') &&
              Form.get('email')?.touched
            "
          >
          Email is required
          </div>
        </div>
      </div>
      <div class="from-field">
        <label for="Password">Password</label>
        <input type="text" id="Password" formControlName="Password" />
        <div class="error">
          <div
            *ngIf="
              Form.get('Password')?.hasError('required') &&
              Form.get('Password')?.touched
            "
          >
          Password is required
          </div>
        </div>
      </div>
</form> -->

<!-- login.component.-->
<!-- <form [formGroup]="Form">
<div class="login-container">
  <h2>Login</h2>
  <div class="form-group">
    <label for="email">მეილი</label>
    <input type="email" id="email" formControlName="email" >    <div class="error">
      <div
        *ngIf="
          Form.get('email')?.hasError('required') && Form.get('email')?.touched
        "
      >
        Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">პაროლი</label>
    <input type="password" id="password"  formControlName="Password">
    <div class="error">
      <div
        *ngIf="
          Form.get('Password')?.hasError('required') && Form.get('Password')?.touched
        "
      >
      Password is required
      </div>
    </div>
  </div>
  <div class="remember-forgot">
    <div>
      <input type="checkbox" id="remember-me">
      <label for="remember-me">დაიმახსოვრე</label>
    </div>
    <a href="#">დაგავიწყდა პაროლი?</a>
  </div>
  <button (click)="Submit()" class="login-btn">შესვლა</button>
  <div class="register-link">
    Don't have an account? <a routerLink="/Register">ავტორიზაცია</a>
  </div>
<div *ngIf="errormassage">
  {{errormassage}}
</div>
</div>
</form> -->



<!-- register.component.html -->
<form [formGroup]="Form">
<div class="btn-container">
  <h1>შესვლა</h1>
  <div class="form-group">
    <input type="email" placeholder="Email" />
    <span class="icon"><i class="fas fa-envelope"></i></span>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" />
    <span class="icon"><i class="fas fa-lock"></i></span>
  </div>
  <div class="remember-forgot">
    <a href="#">დაგავიწყდა პაროლი?</a>
  </div>
  <button (click)="Submit()" class="login-btn">შესვლა</button>
  <div class="register-link">
    Don't have an account? <a routerLink="/Register">ავტორიზაცია</a>
  </div>
<div *ngIf="errormassage">
  {{errormassage}}
</div>
</div>
</form>