
<!-- register.component.html -->
<form [formGroup]="Form">
  <div class="btn-container">
    <h1>ავტორიზაცია</h1>
    <div class="form-group">
      <input type="email" placeholder="მეილი" formControlName="email" />
    </div>
    <div class="error">
      <div
        *ngIf="
          Form.get('email')?.hasError('required') && Form.get('email')?.touched
        "
      >
        მეილი ჩაწერა სავალდებულოა
      </div>
    </div>
    <div class="form-group">
      <input type="password" placeholder="პაროლი" formControlName="Password" />
    </div>
    <div class="error">
      <div
        *ngIf="
          Form.get('Password')?.hasError('required') &&
          Form.get('Password')?.touched
        "
      >
        პაროლის ჩაწერა სავალდებულოა
      </div>
    </div>
    <div class="remember-forgot">
      <a routerLink="/Recovery-password">დაგავიწყდა პაროლი?</a>
    </div>
    <button (click)="Submit()" class="login-btn">შესვლა</button>
    <div class="register-link">
      არ გაქვს ანგარიში? <a routerLink="/Register">რეგისტრაცია</a>
    </div>
    <div *ngIf="errormassage">
      {{ errormassage }}
    </div>
  </div>
</form>
