<app-navbar-with-wave/>
<div class="Title">
  <h3>უნივერსიტეტები</h3>
</div>
<div class="Searchbox">
  <form [formGroup]="Search" (ngSubmit)="onSearch()">
    <div class="searchbox">
      <input
        formControlName="title"
        class="searchtext"
        type="text"
        placeholder="ჩაწერე უნივერსიტეტის სახელი"
        text-align="center"
      />
      <button type="submit" class="searchbtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="19"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </div>
  </form>
</div>

<section class="projects section" id="projects">
  <div class="projects__container container grid">
    <article
      *ngFor="let uni of (filteredUniCards.length > 0 ? filteredUniCards : UniCardBytitle); let i = index"
      (click)="onCardClicked(uni.id)"
      class="projects__card"
    >
      <div class="projects__image">
        <img
          [src]="uni.url"
          alt="image"
          class="projects__img"
          width="312px"
          height="193px"
        />
      </div>
      <div class="projects__content">
        <h2 class="projects__title">{{ uni.title }}</h2>
      </div>
    </article>
  </div>
</section>

