<!-- <nav class="navbar navbar-expand-lg fixed-top" data-bs-theam="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            მოსწავლეებისთვის
          </a>
        </li>
        <li><a routerLink="/Home/AddHomeUniCard">ჰოუმის ქარდის დამატება</a></li>
        <li>
          <a routerLink="/Home/AddUniFacultyCard"
            >უნივერსიტეტის ფაკულტეტის დამატება</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            სტუდენტებისთვის
          </a>
          <ul class="dropdown-menu">
        
            <li><a class="dropdown-item" href="#">კოლეჯის ფაკულტეტი</a></li>
            <li><a class="dropdown-item" href="#">აკადემიის ფაკულტეტი</a></li>
          </ul>
        </li>
      </ul>

      <div>
        <nav
          class="navbar navbar-expand-lg navbar-warning bg-warning fixed-top"
          data-bs-theam="info"
        >
          <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    მოსწავლეებისთვის
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddHomeUniCardWithApi"
                         ></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddProgramCardWithApi"
                        >პროგამის დამატება api</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddEventCardWithApi"
                        >ივენთის დამატება api</a
                      >
                    </li>

                    <li>
                      <a class="dropdown-item" routerLink="/Home/AddUniCard">
                        უნის დამატება</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddUniFacultyCard"
                        >პროგრამის დამატება</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddHomeUniFacultyCard"
                        >ჰოუმის პროგრამის დამატება</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/Home/AddEventCard"
                        >სიახლეების დამატება</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    სტუდენტებისთვის
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">კოლეჯის ფაკულტეტი</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">აკადემიის ფაკულტეტი</a>
                    </li>
                  </ul>
                </li>
              </ul>

              <div>
                <a> Log out </a>
              </div>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav> -->

<h1>დაამატე უნივერსიტეტის ქარდი აქ</h1>
<app-add-with-api-home-uni-card />

<h1 class="event">დაამატე ივენთის ქარდი აქ</h1>
<app-add-with-api-event-card />

<h1 class="program">დამატე პროგრამის ქარდი აქ</h1>

<app-add-with-api-program-card />
<h1 class="Quiz">დამატე ქვიზის ქარდი აქ</h1>
<app-add-quiz-with-api />

<h1>დაამატე უნივერსიტეტის ინგლისური ქარდი აქ</h1>
<app-addwith-api-unicard-eng />

<h1>დაამატე პროგრამის ინგლისური ქარდი აქ</h1>
<app-add-with-api-program-en-card />

<!-- <app-navbar-with-wave></app-navbar-with-wave>

<div class="Title">
  <h3>პროგრამები</h3>
</div>
<div class="Searchbox">
  <form [formGroup]="Search" (ngSubmit)="onSearch()">
    <div class="searchbox">
      <input
        formControlName="title"
        class="searchtext"
        type="text"
        placeholder="ჩაწერე პროგრამის სახელი"
      />
      <button type="submit" class="searchbtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="19"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </div>
  </form>
</div>
<div class="guide">
  <ng-container *ngIf="language === 'ka'">
    <div
      *ngIf="!isSearchClicked"
      class="accordion accordion-flush"
      id="accordionFlushExample"
    >
      <div *ngFor="let field of fields; let i = index" class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse' + i"
            [attr.aria-controls]="'flush-collapse' + i"
            (click)="onAccordionClick(field.fieldName)"
            [attr.aria-expanded]="i === 0"
          >
            {{ field.fieldName }}
          </button>
        </h2>
        <div
          [id]="'flush-collapse' + i"
          class="accordion-collapse collapse"
          [ngClass]="{ show: i === 0 }"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="program">
              <div class="ProgramNames col">
                <div class="container">
                  <div *ngIf="!currentProgramNames.length" class="no-programs">
                    <p>დაელოდეთ პროგრამების ჩატვირთვას</p>
                  </div>
                  <div
                    *ngIf="currentProgramNames.length"
                    class="top1 flex-wrap"
                    style="gap: 34px; align-items: center"
                  >
                    <div
                      *ngFor="
                        let program of filteredUniCards.length > 0
                          ? filteredUniCards
                          : currentProgramNames
                      "
                      (click)="onCardClicked(program.programname)"
                      class="btn rounded-pill"
                      [ngStyle]="{
                        background:
                          'linear-gradient(to right, #0f2027, #203a43, #2c5364)',
                        color: '#fff',
                        'border-radius': '50px',
                        padding: '10px',
                        'max-width': '350px',
                        'box-sizing': 'border-box',
                        display: 'flex',
                        'align-items': 'center',
                        'justify-content': 'center',
                        'font-size': '15px',
                        'font-weight': '200',
                        width: program.width
                      }"
                    >
                      {{ program.programname }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="language === 'en'">
    <div
      *ngIf="!isSearchClicked"
      class="accordion accordion-flush"
      id="accordionFlushExample"
    >
      <div *ngFor="let field of fieldsEn; let i = index" class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse' + i"
            [attr.aria-controls]="'flush-collapse' + i"
            (click)="onAccordionClick(field.fieldName_en)"
            [attr.aria-expanded]="i === 0"
          >
            {{ field.fieldName_en }}
          </button>
        </h2>
        <div
          [id]="'flush-collapse' + i"
          class="accordion-collapse collapse"
          [ngClass]="{ show: i === 0 }"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="program">
              <div class="ProgramNames col">
                <div class="container">
                  <div *ngIf="!currentProgramNames.length" class="no-programs">
                    <p>დაელოდეთ პროგრამების ჩატვირთვას</p>
                  </div>
                  <div
                    *ngIf="currentProgramNames.length"
                    class="top1 flex-wrap"
                    style="gap: 34px; align-items: center"
                  >
                    <div
                      *ngFor="
                        let program of filteredUnienCards.length > 0
                          ? filteredUnienCards
                          : currentProgramNames
                      "
                      (click)="onCardClicked(program.programName_en)"
                      class="btn rounded-pill"
                      [ngStyle]="{
                        background:
                          'linear-gradient(to right, #0f2027, #203a43, #2c5364)',
                        color: '#fff',
                        'border-radius': '50px',
                        padding: '10px',
                        'max-width': '350px',
                        'box-sizing': 'border-box',
                        display: 'flex',
                        'align-items': 'center',
                        'justify-content': 'center',
                        'font-size': '15px',
                        'font-weight': '200',
                        width: program.width
                      }"
                    >
                      {{ program.programName_en }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="isSearchClicked"
    class="accordion accordion-flush"
    id="accordionFlushExample"
  >
    <div *ngIf="filteredUniCards.length === 0" class="no-programs">
      <p>არ მოიძებნა ცადე თავიდან</p>
    </div>

    <div *ngIf="filteredUniCards.length > 0">
      <div
        *ngFor="let field of filteredUniCards; let i = index"
        class="accordion-item"
      >
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse' + i"
            [attr.aria-controls]="'flush-collapse' + i"
            (click)="onAccordionClick(field.fieldName)"
            [attr.aria-expanded]="i === 0"
          >
            {{ field.fieldName }}
          </button>
        </h2>
        <div
          [id]="'flush-collapse' + i"
          class="accordion-collapse collapse"
          [ngClass]="{ show: i === 0 }"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="program">
              <div class="ProgramNames col">
                <div class="container">
                  <div
                    class="top1 flex-wrap"
                    style="gap: 34px; align-items: center"
                  >
                    <div
                      *ngFor="let program of filteredUniCards"
                      (click)="onCardClicked(program.programName)"
                      class="btn rounded-pill"
                      [ngStyle]="{
                        'background-color': '#342833',
                        color: '#fff',
                        'border-radius': '50px',
                        padding: '10px',
                        'max-width': '350px',
                        'box-sizing': 'border-box',
                        display: 'flex',
                        'align-items': 'center',
                        'justify-content': 'center',
                        'font-size': '15px',
                        'font-weight': '200',
                        width: program.width
                      }"
                    >
                      {{ program.programName }}
                    </div>
                  </div>
                  <ng-template #noPrograms>
                    <div class="no-programs">
                      <p>პროგრამები არ არის ხელმისაწვდომი</p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="language-switch">
  <button (click)="switchLanguage('ka')">ქართული</button>
  <button (click)="switchLanguage('en')">English</button>
</div> -->
