<nav class="navbar navbar-expand-lg fixed-top" data-bs-theam="dark">
  <div class="container">
    <a class="navbar-brand"
      ><img
        class="img"
        src="https://scontent.ftbs5-3.fna.fbcdn.net/v/t39.30808-6/438169759_122095455674324671_4155143826964932541_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=TD7ee7cKCuAQ7kNvgE5fvcR&_nc_ht=scontent.ftbs5-3.fna&oh=00_AYDYUMQ0Py0Q7Y67ZFTVo-DhvyxAooUzdVPQ6er-UbIzPQ&oe=66485C70"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            მოსწავლეებისთვის
          </a>
        </li>
        <li><a routerLink="/Home/AddHomeUniCard">ჰოუმის ქარდის დამატება</a></li>
        <li>
          <a routerLink="/Home/AddUniFacultyCard"
            >უნივერსიტეტის ფაკულტეტის დამატება</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            სტუდენტებისთვის
          </a>
          <ul class="dropdown-menu">
            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            <li><a class="dropdown-item" href="#">კოლეჯის ფაკულტეტი</a></li>
            <li><a class="dropdown-item" href="#">აკადემიის ფაკულტეტი</a></li>
          </ul>
        </li>
      </ul>

      <div>
        <span class="logOut" (click)="logOut()">log out</span>
        <nav
          class="navbar navbar-expand-lg navbar-warning bg-warning fixed-top"
          data-bs-theam="info"
        >
          <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    მოსწავლეებისთვის
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/Home/AddHomeUniCard"
                        >ჰოუმის უნის დამატება</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/Home/AddUniCard"
                        > უნის დამატება</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddUniFacultyCard"
                        >პროგრამის დამატება</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Home/AddHomeUniFacultyCard"
                        >ჰოუმის პროგრამის დამატება</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/Home/AddEventCard">სიახლეების დამატება</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    სტუდენტებისთვის
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">კოლეჯის ფაკულტეტი</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">აკადემიის ფაკულტეტი</a>
                    </li>
                  </ul>
                </li>
              </ul>

              <div>
                <a> Log out </a>
              </div>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>
