.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin-top: 240px;
  
	.inner {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  width: 100%;
	}
  
	.block {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  width: 70%;
	  margin: 40px auto;
	  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	  border-radius: 20px;
  
	  .avatar {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../../../assets/img/Logo-1.png);
		position: relative;
		bottom: 70px;
	  }
  
	  h1,
	  .info,
	  .btn {
		margin: 16px auto;
		color: whitesmoke;
		text-align: center;
	  }
  
	  h1 {
		position: relative;
		bottom: 30px;
	  }
  
	  .btn {
		width: 150px; 
		padding: 10px; 
		background: linear-gradient(to right, #33c7ae, #203a43, #2c5364);
		color: white;
		border: none;
		border-radius: 10px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
		&:hover {
		  background-color: #5a6b63; 
		  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		}
	  }
	}
  
	// Responsive styles
	@media (max-width: 1030px) {
	  .block {
		margin-top: 250px !important;
		width: 90%; 
	  }
  
	  .btn {
		width: 80%; 
	  }
	}
  
	@media (max-width: 780px) {
	  .block {
		padding: 20px;
		margin: 20px; 
	  }
  
	  .avatar {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 340px;
		z-index: 2;
	  }
  
	  h1 {
		font-size: 1.5rem;
		bottom: 20px; 
	  }
  
	  .btn {
		width: 80%; 
		padding: 8px;
	  }
	}
  
	@media (max-width: 320px) {
	  .block {
		padding: 15px;
		margin: 10px; 
	  }
  
	  h1 {
		font-size: 1rem;
	  }
  
	  .btn {
		width: 90%; 
		padding: 5px;
	  }
	}
  }
  .bg{
	display: flex;
	margin-bottom: -310px;
  }
  
#svg{
    width: 120px;
    height: 100%;
    cursor: pointer;
}
#svg2{
    width: 35px;
    height: 100%;
    color: white;
}


.nav-link{
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #c1ccd5 ;
    }

        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
}
    .navbar{
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      }



/* Remove focus outline */

/* Remove any border properties */
.no-border {
    border: none;
    border-width: 0;
    box-shadow: none; /* Remove box-shadow if any */
}:focus{
    outline: none;

}

/* Ensure other focus states are also handled */
.no-border:focus-visible {
    outline: none;
}

/* Apply to all SVGs if needed */
svg:focus {
    outline: none;
}

svg {
    border: none;
    border-width: 0;
    box-shadow: none;
}
.header-content{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  .wave-container{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 150px;

  }
  nav ul li a {
    color: white;
    text-decoration: none;
    
    &:hover {
        background: linear-gradient(to right, #33c7ae, #203a43, #2c5364);
     
    }
    }
    #firstNavbarl{
        background-color: white !important;
    }
    #secondNavbar2{
        background-color: white !important;
      }

      @media screen and (max-width: 1025px) {
        .wave-container{
            height: 50px;
        }
      }