
<app-navbar-for-pupil/>
<div class="bg" ></div>
<div class="container">
  <div class="inner">
    <div class="block">
      <div class="avatar"> <img src="{{currentUser?.img}}" alt=""></div>
      <h1>სახელი: {{currentUser?.name}}</h1>
      <h1>კლასი: {{currentUser?.type}}</h1>
      <h1>
        <i class="fa-solid fa-coins"></i>

        შენი ქულა: {{currentUser?.coin}}
      </h1>

      <h1>ემაილი: {{currentUser?.email}}</h1>
      <button class="btn" (click)="LogOut()">გამოსვლა</button>
    </div>
  </div>
</div>
