.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	margin-top: 240px;
  
	.inner {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  width: 100%;
	}
  
	.block {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  width: 70%;
	  margin: 40px auto;
	  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	  border-radius: 20px;
  
	  .avatar {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../../../assets/img/Logo-1.png);
		position: relative;
		bottom: 70px;
	  }
  
	  h1,
	  .info,
	  .btn {
		margin: 16px auto;
		color: whitesmoke;
		text-align: center;
	  }
  
	  h1 {
		position: relative;
		bottom: 30px;
	  }
  
	  .btn {
		width: 150px; 
		padding: 10px; 
		background: linear-gradient(to right, #33c7ae, #203a43, #2c5364);
		color: white;
		border: none;
		border-radius: 10px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
		&:hover {
		  background-color: #5a6b63; 
		  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		}
	  }
	}
  
	// Responsive styles
	@media (max-width: 1030px) {
	  .block {
		margin-top: 250px !important;
		width: 90%; 
	  }
  
	  .btn {
		width: 80%; 
	  }
	}
  
	@media (max-width: 780px) {
	  .block {
		padding: 20px;
		margin: 20px; 
	  }
  
	  .avatar {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 340px;
		z-index: 2;
	  }
  
	  h1 {
		font-size: 1.5rem;
		bottom: 20px; 
	  }
  
	  .btn {
		width: 80%; 
		padding: 8px;
	  }
	}
  
	@media (max-width: 320px) {
	  .block {
		padding: 15px;
		margin: 10px; 
	  }
  
	  h1 {
		font-size: 1rem;
	  }
  
	  .btn {
		width: 90%; 
		padding: 5px;
	  }
	}
  }
  .bg{
	display: flex;
	margin-bottom: -310px;
  }