<!-- <div class="user-card">
  <div class="user-info">
    <img src="../../../assets/im01.jpg " alt="User Image" class="user-image" />
    <div class="details">
      <h2>{{ username }}</h2>
      <h2>{{ grade }}</h2>
      <div class="balance">
        <span class="dollar-sign">$</span>{{ balance }}
      </div>
      <h2 class="email">{{ email }}</h2>
    </div>
  </div>
  <button (click)="logout()" class="logout-button">Log Out</button>
</div> -->


<div class="bg"></div>
<div class="container">
  <div class="inner">
    <div class="block col">
      <div class="avatar"></div>
      <h1 class="name">სახელი: ელენე</h1>
      <h1>კლასი: 9</h1>
      <h1 class="balance">ბალანსი: 2500</h1>
      <h1 class="email">მეილი: datagogia79gmail.om</h1>
      <span class="info"></span>
      <button (click)="logout()" class="logout-button">გამოსვლა</button>
    </div>
  </div>
</div>