.container {
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    border-radius: 25px;
  
  }
  
  .col-lg-4 {
    margin-bottom: 10px;
  }
  
  .card {
    padding-top: 10px;
    background-color: cadetblue;
    color: white;
    border: 0px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      color: green;
    }
  
  
  
        transition: transform 0.3s ease;
  
    // &:hover {
    //   transform: scale(1.07);
    // }
  }
  .actice{
    color: green;
  }
  h1{
    font-size: 25px;
  }
  