<app-navbar-for-pupil />

<div class="title" *ngIf="Card">
  <h2>{{ Card.title }}</h2>
</div>
<section *ngIf="cards$ | async as cards" class="projects section" id="projects">
  <div class="projects__container container grid">
    <div *ngFor="let card of cards">
      <ng-container
        *ngFor="let section of card.sections; trackBy: trackByIndex"
      >
        <ng-container
          *ngFor="let program of section.programNames; trackBy: trackByIndex"
        >
          <ng-container *ngIf="program.programName === Card.title">
            <article class="projects__card">
              <div class="projects__image">
                <img
                  src="{{ card.url }}"
                  alt="image"
                  class="projects__img"
                  width="312px"
                  height="193px"
                />
              </div>

              <div class="projects__content">
                <h2 class="projects__title">{{ card.title }}</h2>
                <p class="projects__description">{{ card.mainText }}</p>
              </div>
              <div class="projects__buttons">
                <button
                  class="Btn"
                  (click)="OnCardClicked(card.title, Card.title)"
                >
                  გაიგე მეტი
                </button>
              </div>
            </article>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
<app-footer-for-pupil />
