<app-navbar-for-pupil />
<div class="Title">
  <h2>{{EventCard.title}}</h2>
</div>
<div class="ForPupil">
  <h2>აბიტურიანთა საყურადღებოდ</h2>
</div>

<div class="Bottom">
  <div class="Text">
    <div>
      <p>
        {{EventCard.text}}
      </p>
    </div>
  </div>
  <div class="RightSide">
    <div class="Btns">
      <div class="RegistrationForm">
        <p>სარეგისტრაციო ფორმა</p>
      </div>
      <div class="RemindMeLater">
        <p>მოგვიანებით შემახსენე</p>
      </div>
      <div class="UniNewSubscribe">
        <p>უნივერსიტეტის სიახლეების გამოწერა</p>
      </div>
      <div class="EventSubscribtion">
        <p>ამ ტიპის ღონისძიების გამოწერა</p>
      </div>
    </div>
  </div>
</div>
<div class="SameEvents">
  <h2>იხილეთ მსგავსი სიახლეები</h2>
</div>

<app-footer-for-pupil />
