<app-navbar-for-pupil />
<!-- ვეივის ტესტისთვის განკუთვლინი -->
<!-- <div class="green"></div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#CED4DA"
    fill-opacity="1"
    d="M0,192L48,192C96,192,192,192,288,170.7C384,149,480,107,576,122.7C672,139,768,213,864,234.7C960,256,1056,224,1152,202.7C1248,181,1344,171,1392,165.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
  ></path>
</svg> -->

<!-- უნის ქარდის დასმის ტექსტისთვის განკუთნილი -->
<!-- <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<section class="projects section" id="projects">
  <div class="projects__container container grid">
    @for (Uni of cards; track $index ){
    <article class="projects__card">
      <div class="projects__image">
        <img
          src="{{ Uni.url }}"
          alt="image"
          class="projects__img"
          width="312px"
          height="193px"
        />
      </div>

      <div class="projects__content">
        <h2 class="projects__title">{{ Uni.title }}</h2>
        <p class="projects__description">{{ Uni.mainText }}</p>
      </div>

      <div class="projects__buttons">
        <button class="Btn" (click)="onCardClicked(Uni.key)">გაიგე მეტი</button>
      </div>
    </article>
    }
  </div>
  <div class="viewMore">
    <button routerLink="/Pupil/Uni" class="btn btn--2">ნახე მეტი</button>
  </div>
</section> -->

<div class="Title">
  <h2>ღია კარის დღე საქართველოს უნივერსიტეტში</h2>
</div>
<div class="ForPupil">
  <h2>აბიტურიანთა საყურადღებოდ</h2>
</div>

<div class="Bottom">
  <div class="Text">
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi illum
        iure tempora quos deleniti dolorem mollitia. Ullam, unde sunt cupiditate
        vero adipisci at dolore totam inventore suscipit. Consectetur,
        temporibus.
      </p>
    </div>
  </div>
  <div class="RightSide">
    <div class="Btns">
      <div class="RegistrationForm">
        <p>სარეგისტრაციო ფორმა</p>
      </div>
      <div class="RemindMeLater">
        <p>მოგვიანებით შემახსენე</p>
      </div>
      <div class="UniNewSubscribe">
        <p>უნივერსიტეტის სიახლეების გამოწერა</p>
      </div>
      <div class="EventSubscribtion">
        <p>ამ ტიპის ღონისძიების გამოწერა</p>
      </div>
    </div>
  </div>
</div>
<div class="SameEvents">
  <h2>იხილეთ მსგავსი სიახლეები</h2>
</div>

<app-footer-for-pupil />
