body{
    background-color:#CED4DA;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.second-navbar {
  transition: top 0.3s ease-in-out;
  position: fixed;
  opacity: 1;
  background-color:#342833 ;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 1030; 
}

.content {
  margin-top: 100px;
  height: 2000px; 
}

//header and navbar
.site-header {
  width: 100%;
  height: 600px;;
  background-image: url('./annie-spratt-Mmi_sUHNazo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.site-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-content {
  position: relative;
  z-index: 1; 
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; 
}

h1 {
color: white;
text-align: center;
font-size: 1.9em; 
max-width: 1000px;
margin: 220px auto; 
}




nav ul li a {
  color: white;
  text-decoration: none;
  
  &:hover {
    color: #3e8e41;
   
  }
}
.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    cursor: pointer;
  }
  }
  .container {
    padding: 30px 0;
    justify-content: center;
    
  }
.cta-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 4%;
 
  
  &:hover {
    background-color: #3e8e41;
  }
}
  
  
  .btn {
  width: 100%;
  margin-bottom: 10px;
  background-color: #a0c4a0;
  border: none;
  color: #fff;
  padding: 10px 20px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  
  &:hover {
  background-color: #84a984;
  }
  }
  
  @media (max-width: 769px) {
  .btn {
  font-size: 14px;
  padding: 10px 16px;
  }
  .Title{
    position: relative;
    bottom: 300px !important;
  }
}
.wave-text {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}
.green {
    width: 100%;
    background-color: #85A98D;
    height: 193px;
  }

.Title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 320px;
    // margin-top: 100px;
    h2{
        font-size: 40px;
        color: white;
        font-weight: 300;
 }
}
.ForPupil{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    h2{
        color: white;
        font-weight: 200;
        font-size: 25px;
    }
}
.Bottom{
    width: 100%;
    display: flex;
    margin-top: 55px;
    .Text{
      width: 100%;
      display: flex;
      justify-content: center;
    div{
        width: 80%;
        margin-left: 40px;    }
    }
    .RightSide{
        width: 20%;
        display: flex;
        justify-content: end;
        .Btns{
            width: 274px;
            text-align: center;
        }
        .RegistrationForm{
            width: 274px;
            display: flex;
            justify-content: center;
            background-color: #85A98D;
            border-radius: 15px;
            border: 2px dashed #F0F3BD;
        }
        .RemindMeLater{
            margin-top: 7px;
            width: 274px;
            display: flex;
            justify-content: center;
            background-color: #85A98D;
            border-radius: 15px;
            border: 2px dashed #F0F3BD;
        }
        .UniNewSubscribe{
            margin-top: 7px;
            width: 274px;
            display: flex;
            justify-content: center;
            background-color: #85A98D;
            border-radius: 15px;
            border: 2px dashed #F0F3BD;
        }
        .EventSubscribtion{
            margin-top: 7px;
            width: 274px;
            display: flex;
            justify-content: center;
            background-color: #85A98D;
            border-radius: 15px;
            padding: 5px;
            border: 2px dashed #F0F3BD;
        }
    }
}
p{
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.SameEvents{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h2{
        color: white;
        font-size: 30px;
    }
}

@media screen and (max-width: 835px) {
    .Title h2{
        font-size: 25px;
    }
  }
  @media screen and (max-width: 615px) {
    .Title h2{
        font-size: 20px;
    }
    .Bottom .Text div {
        width: 56%;
    }
  }

  @media screen and (max-width: 490px) {
    .Title h2{
        font-size: 16px;
    }
    .ForPupil h2 {
        font-size: 20px;
    }
    .Bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        .Text{
          width: 100%;
            display: flex;
            div{
              width: 100%;
            }
        }
        .RightSide{
          width: 100%;
          display: flex;
          /* justify-content: end; */
          justify-content: center;
          .Btns{
            width: 58%;
            text-align: center
          }
        }
      }
  }
  @media screen and (max-width: 450px) {
    .Bottom .RightSide .Btns{
        width: 64%;
    }
    .SameEvents h2 {
        font-size: 22px;
    }
  }
  @media screen and (max-width: 380px) {
    .Title h2 {
        font-size: 14px;
      }
      .Bottom .RightSide .Btns{
        width: 73%;
      }
      .SameEvents h2 {
        font-size: 20px;
      }
  }
  @media screen and (max-width: 325px) {
    .Title h2 {
        font-size: 13px;
      }
      .Bottom .RightSide .Btns{
        width: 86%;
      }
      .SameEvents h2 {
        font-size: 17px;
      }
}
#svg{
  width: 120px;
  height: 100%;
  cursor: pointer;
}
#svg2{
  width: 35px;
  height: 100%;
  color: #F0F3BD;
}


.nav-link{
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
      background-color: #c1ccd5;
  }

      transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.07);
  }
}

/* Remove any border properties */
.no-border {
  border: none;
  border-width: 0;
  box-shadow: none; 
}:focus{
  outline: none;

}
/* Ensure other focus states are also handled */
.no-border:focus-visible {
  outline: none;
}

/* Apply to all SVGs if needed */
svg:focus {
  outline: none;
}

svg {
  border: none;
  border-width: 0;
  box-shadow: none;
}
