<!-- <form [formGroup]="SignIn" (ngSubmit)="onSubmit()">
  <div>
    <label for="Email">Email:</label>
    <input id="Email" formControlName="Email" />
  </div>
  <div>
    <label for="Password">Password:</label>
    <input id="Password" formControlName="Password" />
  </div>
  <button type="submit" [disabled]="SignIn.invalid">Submit</button>
</form> -->

<!-- <form [formGroup]="SignIn" (ngSubmit)="onSubmit()" >
  <div class="btn-container">
    <h1>ავტორიზაცია</h1>
    <div class="form-group">
      <input type="Email" placeholder="მეილი" formControlName="Email" />
    </div>
    <div class="error">
      <div
        *ngIf="
          SignIn.get('Email')?.hasError('required') && SignIn.get('Email')?.touched
        "
      >
        მეილი ჩაწერა სავალდებულოა
      </div>
    </div>
    <div class="form-group">
      <input type="password" placeholder="პაროლი" formControlName="Password" />
    </div>
    <div class="error">
      <div
        *ngIf="
          SignIn.get('Password')?.hasError('required') &&
          SignIn.get('Password')?.touched
        "
      >
        პაროლის ჩაწერა სავალდებულოა
      </div>
    </div>
    <div class="remember-forgot">
      <a routerLink="/Recovery-password">დაგავიწყდა პაროლი?</a>
    </div>
    <button type="submit" class="login-btn" [disabled]="SignIn.invalid">Submit</button>
    <div class="register-link">
      არ გაქვს ანგარიში? <a routerLink="/Register">რეგისტრაცია</a>
    </div>
  </div>
</form> -->

<!-- // authorization -->
<div class="data1">
<div class="containerimg">
  <div class="image-section">
    <img src="../../../assets/img03.png" alt="Description of Image" />
  </div>
  </div>
<div class="authorization-container">
  <div class="form-section">
    <h1>ავტორიზაცია</h1>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email"  formControlName="email" placeholder="ელ. ფოსტა">
        <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="error-message">
          შეიყვანეთ მოქმედი ელ. ფოსტა
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="პაროლი">
        <div *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched" class="error-message">
          პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს
        </div>
        <div class="forgot-password">
          <a href="#">დაგავიწყდათ პაროლი?</a>
        </div>
      </div>
      <button type="submit" >ავტორიზაცია</button>
    </form>
  </div>
</div>
</div>
