<!-- // authorization -->
<div class="data1">
  <div class="containerimg">
    <div class="image-section">
      <img src="../../../assets/img03.png" alt="Description of Image" />
    </div>
  </div>
  <div class="authorization-container">
    <div class="form-section">
      <h1>ავტორიზაცია</h1>
      <form [formGroup]="SignIn" >
        <div class="form-group">
          <input type="email" formControlName="Email" placeholder="ელ. ფოსტა" />
          <div *ngIf="Email?.invalid && Email?.touched" class="error-message">
            <span *ngIf="Email?.errors?.['required']">გთხოვთ შეიყვანოთ ელ.ფოსტა</span>
            <span *ngIf="Email?.errors?.['email']">არასწორი ელ. ფოსტის ფორმატი</span>
          </div>
        </div>
        
        <div class="form-group">
          <input type="password" formControlName="Password" placeholder="პაროლი" />
          <div *ngIf="Password?.invalid && Password?.touched" class="error-message">
            <span *ngIf="Password?.errors?.['required']">ჩაწერეთ პაროლი</span>
            <span *ngIf="Password?.errors?.['minlength']">პაროლი უნდა იყოს მინიმუმ 6 სიმბოლო</span>
          </div>
        </div>
        <div class="forgot-password">
          <a routerLink="/RecoveryPassword" >დაგავიწყდათ პაროლი?</a>
        </div>
        <div class="register-link">
          არ გაქვს ანგარიში? <a routerLink="/Register">რეგისტრაცია</a>
        </div>
        <!-- <p>Form valid: {{ SignIn.valid }}</p>
        <p>Email valid: {{ Email?.valid }}</p>
        <p>Email errors: {{ Email?.errors | json }}</p>
        <p>Password valid: {{ Password?.valid }}</p>
        <p>Password errors: {{ Password?.errors | json }}</p> -->
        <button (click)="onSubmit()" type="submit" [disabled]="SignIn.invalid">ავტორიზაცია</button>
      </form>
    </div>
  </div>
</div>
