<form [formGroup]="Form">
    <div class="btn-container">
      <h1>პაროლის აღდგენა</h1>
      <div class="form-group">
        <input type="password" placeholder="ჩაწერე ახალი პაროლი" formControlName="password" />
      </div>
      <button (click)="Submit()" class="login-btn">გაგზავნა</button>
      <div class="register-link">
        Don't have an account? <a routerLink="/Register">რეგისტრაცია</a>
      </div>
    <div *ngIf="errormassage">
      {{errormassage}}
    </div>
    </div>
    </form>