
<div [formGroup]="form">
  <div class="form-field">
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="form-field">
    <label for="text">Text</label>
    <input type="text" id="text" formControlName="text" />
  </div>
  <div formArrayName="checkBoxNames">
    <div *ngFor="let checkBoxName of checkBoxNames.controls; let i = index" [formGroupName]="i">
      <h3>CheckBox Name {{ i + 1 }}</h3>
      <div>
        <label for="checkBoxName">CheckBox Name</label>
        <input id="checkBoxName" formControlName="checkBoxName" type="text" required />
      </div>
      <button type="button" (click)="removeCheckBoxName(i)">Remove CheckBox Name</button>
    </div>
    <button type="button" (click)="addCheckBoxName()">Add CheckBox Name</button>
  </div>
</div>
<button (click)="submit()">Submit</button>
