:root{
  --white-color: hsl(0, 0%, 95%);

}

.title{
    display: flex;
    justify-content: center;
    margin-top: 85px;
  
  }
  .tit{
    color: black;
    font-size: 25px !important;
    font-weight: 600;
  }
  .container {
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-lg-4 {
    margin-bottom: 30px;
  }
  // .accordion-button::after {
  //   margin-left: 2px !important;
  // }
  .card {
    background-color: #5D737E;
    padding: 30px; /* Increase padding */
    border-radius: 50px; /* Adjust rounded corners */
    text-align: center;
    color: white;
    font-size: 18px; /* Adjust font size to be more readable */
  }


    .Title{
      margin-top: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 415px;
    h3{
      color: white;
      margin-bottom: 5px;
      border-bottom: 2px solid white;
      padding-bottom: 10px;
      font-weight: 300 !important;
    }
    }
    .Bottom{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      bottom: 340px;
    }
    .timeline {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; /* Increase the gap to match the spacing */
    }
    .circle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    

    .circle {
      width: 20px; /* Increase the size of the circles */
      height: 20px;
      border-radius: 50%;
      background-color:white; /* Default green color */
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 5px;
    }    
    
    .line {
      width: 2px;
      height: 50px;
    }
    
    .dashed {
      width: 2px;
      height: 35px; /* Increase the height to match the connectors in the image */
      border-right: 2px dashed #000; /* Keep the dashed connector between circles */
    }
    
    /* When the circle is active, it turns green */
    .circle.green {
      background-color: #6abf69;
    }
    .program{
      width: 100%;
      height: 100%;
    .FacultyTitle{
      width: 40%;
      display: flex;
      justify-content: center;

    }
    }
    .top{
      width: 100%;
      display: flex;
      justify-content: start;
    }
    .top1{
      display: flex;
    }
    .ProgramNames .container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }



    @media screen and (max-width: 1030px) {
      .accordion-header {
        width: 52% !important;
      }
      .Title{
        bottom: 465px;
      }
      .wrap {
        margin-right: 100px !important;
        width: 93% !important;
      }
    }
@media screen and (max-width: 770px) {
  .accordion-header {
    width: 60% !important;
}
  h2{
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .top1{
    gap: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .accordion-header {
    width: 100% !important;
}
.searchbox{
  margin-right: 0px !important;
}
h2{
  font-size: 18px;
text-align: center;

}

}

  .active {
  font-weight: bold;
  color: blue; /* Example styling */
}
.guide{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 300px;
}
#accordionFlushExample{
  width: 90%;
}

.accordion-item{
  background-color: transparent !important;
  margin-bottom: 30px;
  border: 0px;
}
.accordion-button:not(.collapsed){
  box-shadow: none !important;
}
.accordion-header{
  background: linear-gradient(to right, #4aa091, #203a43, #2c5364);   border-radius: 20px;
  width: 37%;
}
.accordion-button{
  background-color: transparent !important;
  font-size: 18px;
  color: white;
  font-weight: 300;
}
.accordion-button:focus{
  box-shadow: none;
}



// სერჩი 

.Searchbox{
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 341px;
}

.searchbox{
    transition: (-50%,-50%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-right: 40px;
    
}
.searchbox:hover > .searchtext{
    width: 240px;
    padding: 0px;
  
}
.searchbox:hover > .searchbtn{
  background: linear-gradient(to right, #33c7ae, #203a43, #2c5364);

} 
.searchbtn{
 color: white;
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  }
.searchtext{
  border:none;
    background:none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}