<nav id="navbar">
  <ul class="navbar-items flexbox-col">
    <li class="navbar-logo flexbox-left">
      <a class="navbar-item-inner flexbox">
        <img src="https://scontent.ftbs5-3.fna.fbcdn.net/v/t1.15752-9/441110065_948097716978128_6951750050780463766_n.png?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGJU19xwsO6rXSUilMDVNWxuuBgXzpu5yC64GBfOm7nIO9nEO2ebxM6YADrEitRNOT1ddstuACNDqY2CNIPo5NN&_nc_ohc=DLc5OgacLbwQ7kNvgGYD-eZ&_nc_oc=Adj-Q4dN0sJnNbRzPc0QX1GGGYeV6ydQkgTMH64DnNRx7g_DLloS-smH7WrPghrF7U2RckhUKVrCA5UOgGAJpci8&_nc_ht=scontent.ftbs5-3.fna&oh=03_Q7cD1QFEjkMSVhEGC9rfg-X_99qIfktv2gPGfUhOFKKlHqdVXw&oe=66620E76" alt="" srcset="">
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="search-outline"></ion-icon> -->
        </div>
        <span class="link-text">Search</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="home-outline"></ion-icon> -->
        </div>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="folder-open-outline"></ion-icon> -->
        </div>
        <span class="link-text">Projects</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="pie-chart-outline"></ion-icon> -->
        </div>
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="people-outline"></ion-icon> -->
        </div>
        <span class="link-text">Team</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
        </div>
        <span class="link-text">Support</span>
      </a>
    </li>
    <li class="navbar-item flexbox-left">
      <a class="navbar-item-inner flexbox-left">
        <div class="navbar-item-inner-icon-wrapper flexbox">
          <!-- <ion-icon name="settings-outline"></ion-icon> -->
        </div>
        <span class="link-text">Settings</span>
      </a>
    </li>
  </ul>
</nav>
