<app-navbar-with-wave />
<section class="bottom" *ngIf="!quizStarted">
  <div class="background">
    <div class="overlay">
      <div class="top">
        <div class="calendar">
          <svg
            id="calendarsvg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 350"
            preserveAspectRatio="xMidYMid meet"
          >
            <!-- Upper lines with 50px height and spacing between them -->
            <line
              x1="60"
              y1="0"
              x2="60"
              y2="50"
              stroke="white"
              stroke-width="2"
            />
            <line
              x1="120"
              y1="0"
              x2="120"
              y2="50"
              stroke="white"
              stroke-width="2"
            />

            <rect
              x="10"
              y="50"
              rx="20"
              ry="20"
              width="180"
              height="120"
              fill="#e0e0e0"
              stroke="gray"
              stroke-width="1"
            />

            <!-- Top Text -->
            <text
              x="50%"
              y="80"
              font-size="16"
              font-family="Arial"
              fill="black"
              text-anchor="middle"
              dominant-baseline="middle"
            >
              დაწყების დრო
            </text>

            <!-- Horizontal Line -->
            <line
              x1="30"
              y1="100"
              x2="170"
              y2="100"
              stroke="black"
              stroke-width="1"
            />

            <!-- Time Text -->
            <text
              x="50%"
              y="130"
              font-size="20"
              font-family="Arial"
              fill="black"
              text-anchor="middle"
              dominant-baseline="middle"
            >
              {{ quiz?.time }}
            </text>

            <!-- Year Text -->
            <text
              x="50%"
              y="155"
              font-size="18"
              font-family="Arial"
              fill="orange"
              text-anchor="middle"
              dominant-baseline="middle"
            ></text>
          </svg>
        </div>
      </div>
      <div class="Footer">
        <div class="start">
          <!-- <div class="start">
            <button
              [disabled]="!canStartQuiz || isCooldownActive"
              (click)="startQuiz()"
              class="btn btn-primary"
            >
              {{
                isCooldownActive
                  ? "დაწყება ხელმისაწვდომია " + formatTime(timeUntilNextAttempt)
                  : "დაწყება"
              }}
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</section>
<div *ngIf="quizStarted" class="quizcontainer">
  <!-- Quiz container -->
  <div *ngIf="!isLoading && quiz?.questions?.length" class="quiz-container">
    <!-- Header section displaying scores and remaining time -->
    <div class="header row">
      <div class="col-lg-3 score">სწორი: {{ correctAnswersCount }}</div>
      <div class="col-lg-3 progress">
        კითხვა {{ currentQuestionIndex + 1 }} / {{ quiz?.questions?.length }}
      </div>
      <div class="col-lg-3 status">არასწორი: {{ incorrectAnswersCount }}</div>
      <div class="col-lg-3 timer">
        დარჩენილი დრო: {{ formatTime(timeLeftForQuiz) }}
      </div>
    </div>

    <!-- Question display (main or bonus question) -->
    <div class="question">
      <h5 *ngIf="!isBonusQuestion">
        {{ quiz?.questions?.[currentQuestionIndex]?.question }}?
      </h5>
      <h3 *ngIf="isBonusQuestion">
        ბონუს კითხვა {{ bonusQuestion?.question }}?
      </h3>
    </div>

    <!-- Answers section -->
    <div class="answers">
      <div class="row">
        <div
          class="col-lg-8 m-auto"
          *ngFor="let answer of allAnswers; let i = index"
        >
          <button
            class="answer"
            [class.selected]="
              selectedAnswers[currentQuestionIndex] === answer ||
              bonusAnswerSelected === answer
            "
            (click)="selectAnswer(answer)"
            style="margin: 10px 0; padding: 10px; width: 100%"
          >
            <p>{{ answer }}</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Displaying the quiz completion message -->
  <!-- <div *ngIf="quizCompleted" class="results-container">
    <h3>Quiz Completed!</h3>
    <p>Correct Answers: {{ correctAnswersCount }}</p>
    <p>Incorrect Answers: {{ incorrectAnswersCount }}</p>
    <button (click)="showCompletionAlert()">View Results</button>
  </div> -->
</div>

<!-- ქვიზების განრიგი -->
<div class="title">
  <h1>ქვიზების განრიგი</h1>
</div>
<div class="container">
  <div class="quiz-cards-row">
    <div
      class="quiz-card"
      *ngFor="let quiz of quizzes.slice(0, 5)"
      [ngClass]="{ completed: quiz.completed }"
    >
      <div class="quiz-title">{{ quiz.number }} ქვიზი</div>
      <div class="quiz-date">{{ quiz.date }}</div>
      <div class="quiz-time">{{ quiz.time }}</div>
      <div class="check-mark" *ngIf="quiz.completed">&#10003;</div>
    </div>
  </div>

  <div class="quiz-cards-row">
    <div
      class="quiz-card"
      *ngFor="let quiz of quizzes.slice(5, 10)"
      [ngClass]="{ completed: quiz.completed }"
    >
      <div class="quiz-title">{{ quiz.number }} ქვიზი</div>
      <div class="quiz-date">{{ quiz.date }}</div>
      <div class="quiz-time">{{ quiz.time }}</div>
      <div class="check-mark" *ngIf="quiz.completed">&#10003;</div>
    </div>
  </div>
</div>

<!-- ქვიზების განრიგი მთავრდება აქ -->

<!-- ქვიზების ისტორი -->

<div *ngIf="showHistory" class="quiz-list">
  <h1 class="nav justify-content-center mb-5 text-primary-emphasis">
    ქვიზების ისტორია
  </h1>

  <div class="quiz-item" *ngFor="let history of quizHistory; let i = index">
    <button class="quiz-header" (click)="toggleQuiz(i)">
      <span class="quiz-title">ქვიზი {{ i + 1 }}</span>
      <span class="arrow" [class.open]="history.open">&#9660;</span>
      <span class="quiz-date">{{ history.time }}</span>
    </button>

    <div class="quiz-body" [class.open]="history.open">
      <div
        class="question-block"
        *ngFor="let question of history.quizQuestions"
      >
        <div class="question-text">{{ question.question }}</div>
        <div class="answers">
          <button
            *ngFor="let answer of question.badAnswers"
            class="answer-button"
            [ngClass]="
              getAnswerClass(
                answer.badanswer,
                question.correctanswer,
                question.userAnswer
              )
            "
          >
            {{ answer.badanswer }}
          </button>

          <button
            class="answer-button"
            [ngClass]="
              getAnswerClass(
                question.correctanswer,
                question.correctanswer,
                question.userAnswer
              )
            "
          >
            {{ question.correctanswer }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ქვიზების ისტორა მთავრდება აქ -->

<!-- Footer Section -->
<div class="mainfooter">
  <app-footer-for-pupil />
</div>
