<!-- <form [formGroup]="Form">
  <div class="from-field">
    <label for="UserName">UserName</label>
    <input type="text" id="UserName" formControlName="UserName" />
    <div class="error">
      <div
        *ngIf="
          Form.get('UserName')?.hasError('required') && Form.get('UserName')?.touched
        "
      >
        Email is required
      </div>
    </div>
  </div>
  <div class="from-field">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" />
    <div class="error">
      <div
        *ngIf="
          Form.get('email')?.hasError('required') && Form.get('email')?.touched
        "
      >
        Email is required
      </div>
    </div>
  </div>
  <div class="from-field">
    <label for="Password">Password</label>
    <input type="text" id="Password" formControlName="Password" />
    <div class="error">
      <div
        *ngIf="
          Form.get('Password')?.hasError('required') &&
          Form.get('Password')?.touched
        "
      >
        Password is required
      </div>
    </div>
  </div>
</form>
<button (click)="Submit()" >Submit</button> -->


<!-- register.component.html -->
<form [formGroup]="Form">
<div class="register-container">
  <h1>ავტორიზაცია</h1>
  <div class="form-group">
    <input type="text" placeholder="სახელი" />
    <span class="icon"><i class="fas fa-user"></i></span>
    <div class="error">
      <div
        *ngIf="
          Form.get('UserName')?.hasError('required') && Form.get('UserName')?.touched
        "
      >
        Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="email" placeholder="მეილი" />
    <span class="icon"><i class="fas fa-envelope"></i></span>
  </div>
  <div class="form-group">
    <input type="password" placeholder="პაროლი" />
    <span class="icon"><i class="fas fa-lock"></i></span>
  </div>
  <!-- <div class="form-group">
    <input type="password" placeholder="Confirm Password" />
    <span class="icon"><i class="fas fa-lock"></i></span>
  </div> -->
  <button class="register-btn">Register</button>
</div>
</form>



