<ngb-carousel
	#carousel
	[interval]="3000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide class="carousel-item">
			<div class="carousel-caption">
				<h3>My slide {{ i + 1 }} title</h3>
			</div>
			<a href="Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer"></a>
      <div class="img-wrapper">
					<img [src]="img" alt="My image {{ i + 1 }} description"/>
       </div>
		</ng-template>
	}
</ngb-carousel>





