
ngb-carousel .img-wrapper {
	position: relative;
	height: 0;
	padding-top: 50%; /* Keep ratio for 900x500 images */
}

ngb-carousel .img-wrapper > img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  width: 1700px;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	height:500px
}