<form [formGroup]="form" (ngSubmit)="submit()">
  <label>
    <input type="checkbox" formControlName="ქიმია" />
    ქიმია
  </label>
  <label>
    <input type="checkbox" formControlName="მათემატიკა" />
    მათემატიკა
  </label>
  <label>
    <input type="checkbox" formControlName="ფიზიკა" />
    ფიზიკა
  </label>
  <label>
    <input type="checkbox" formControlName="ინგლისური" />
    ინგლისური
  </label>
  <label>
    <input type="checkbox" formControlName="ბიოლოგია" />
    ბიოლოგია
  </label>
  <button type="submit">Send</button>
</form>

<div *ngIf="filteredTitles.length > 0">
  <h3>Matching Titles:</h3>
  <ul>
    <li *ngFor="let title of filteredTitles">{{ title }}</li>
  </ul>
</div>

