.title{
    display: flex;
    justify-content: center;
    margin-top: 85px;
  
  }
  .tit{
    color: black;
    font-size: 25px !important;
    font-weight: 600;
  }
  .container {
      padding: 20px;
    }
    
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    
    .col-lg-4 {
      margin-bottom: 20px;
    }
    
    .card {
      background-color: cadetblue;
      color: white;
      padding: 20px;
      border-radius: 25px;
      text-align: center;
      
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #6aabb2;
      }
  
  
  
          transition: transform 0.3s ease;
    
      &:hover {
        transform: scale(1.07);
      }
    }