
:root{
  background-color: rgb(0, 138, 150) !important;
}

.container {
    padding: 20px;
    margin-top: 40px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-lg-4 {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #837676;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #6aabb2;
    }



        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
  }
  .title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    h1{
      font-size: 20px;
      font-weight: 600;
    }
  }