
:root{
  background-color: rgb(225, 253, 255) !important;
}

.container {
    padding: 20px;
    margin-top: 40px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-lg-4 {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #6aabb2;
    }



        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
  }
  .title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    h1{
      font-size: 20px;
      font-weight: 600;
    }
  }
  .section__title-1{
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  .border{
    margin-top: 24px ;
    border-bottom: 1px solid black !important;
  }
  .ViewMore {
    width: 100%;
    display: flex;
    justify-content: center;
    button{
      border: 0px;
      background-color: transparent;
      border-radius: 50px;

    }:hover{
      background-color: green;
    }
  }
  .container{
    display: flex;
    justify-content: center;
  }