<app-navbar-for-pupil> </app-navbar-for-pupil>
<app-carousel></app-carousel>
<app-home-card></app-home-card>


<!-- <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
  rel="stylesheet"
/>

<section class="projects section" id="projects">
  <h2 class="section__title-1">
    <span>უნივერსიტეტები</span>
  </h2>
<div class="projects__container container grid">
  @for (Uni of cards; track $index){
  <article class="projects__card">
    <div class="projects__image">
      <img src="{{ Uni.url }}" alt="image" class="projects__img" width="312px" height="193px" />
    </div>

    <div class="projects__content">
      <h2 class="projects__title">{{ Uni.title }}</h2>
      <p class="projects__description">{{ Uni.mainText }}</p>
    </div>

    <div class="projects__buttons">
      <a href="https://dribbble.com/" target="_blank" class="projects__link">
        <i class="ri-dribbble-line"></i>გაიგე მეტი
      </a>
    </div>
  </article>
  }
</div> -->

<app-footer-for-pupil></app-footer-for-pupil>
