<app-navbar-for-pupil> </app-navbar-for-pupil>

<div class="container">
  <p class="container-title">Here are the features<br />we’re proud of</p>

  <div class="gradient-cards">
    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">აქ წავა სახელი უნივერსიტეტის</p>
        <p class="card-description">აქ კიდე რაღაცა მცირე შესავალი</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <div class="container-card bg-blue-box">
        <img
          class="img"
          src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
          alt=""
          width="118px"
          height="118px"
        />
        <p class="card-title">Get up to 11x Leverage</p>
        <p class="card-description">
          Hubble’s capital-efficient 110% collateral ratio lets users leverage
          up to 11x on their deposits.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="container-title">Here are the features<br />we’re proud of</p>

  <div class="gradient-cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title2">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title2">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title2">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://cms.alte.ge/storage/gallery/67w3To6YbV.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title2">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="card-container">
    <a href="/" class="hero-image-container">
      <img
        class="hero-image"
        src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg"
        alt="Spinning glass cube"
      />
    </a>
    <main class="main-content">
      <h1><a href="#">Equilibrium #3429</a></h1>
      <p>Our Equilibrium collection promotes balance and calm.</p>
      <div class="flex-row">
        <div class="coin-base">
          <img
            src="https://i.postimg.cc/T1F1K0bW/Ethereum.png"
            alt="Ethereum"
            class="small-image"
          />
          <h2>0.041 ETH</h2>
        </div>
        <div class="time-left">
          <img
            src="https://i.postimg.cc/prpyV4mH/clock-selection-no-bg.png"
            alt="clock"
            class="small-image"
          />
          <p>3 days left</p>
        </div>
      </div>
    </main>
    <div class="card-attribute">
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>
