<app-navbar-for-pupil> </app-navbar-for-pupil>
<app-carousel></app-carousel>
<div class="title">
  <h1>მოთხოვნადი პროგრამები</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">მათემატიკა</div>
    </div>

    <div class="col-lg-4">
      <div class="card">ფიზიკა</div>
    </div>

    <div class="col-lg-4">
      <div class="card">ქიმია</div>
    </div>

    <div class="col-lg-4">
      <div class="card">კომპიუტერული მეცნიერება</div>
    </div>

    <div class="col-lg-4">
      <div class="card">ინფორმაციული ტექნოლოგიები</div>
    </div>

    <div class="col-lg-4">
      <div class="card">ეკოლოგია</div>
    </div>

    <div class="col-lg-4">
      <div class="card">სამართალი</div>
    </div>

    <div class="col-lg-4">
      <div class="card">მედიცინა</div>
    </div>

    <div class="col-lg-4">
      <div class="card">ელექტრული ინჟინერია</div>
    </div>
  </div>
</div>
<div class="border"></div>
<div class="title">
  <h2 class="section__title-1">მოთხოვნადი უნივერსიტეტები</h2>
</div>
<app-home-card></app-home-card>
<!-- 
<div class="ViewMore">
  <button>
    ნახე მეტი
  </button>
</div> -->

<div class="container">
  <div class="col-lg-4">
    <div  routerLink="/Pupil/Uni" class="card">ნახე მეტი</div>
  </div>
</div>

<app-footer-for-pupil></app-footer-for-pupil>
