<div [formGroup]="Form">
  <div class="from-field">
    <label for="title">ფოტო</label>
    <input type="text" id="title" formControlName="url" />
  </div>
  <div class="from-field">
    <label for="title">სათაური</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="from-field">
    <label for="maintext">მთავარი ტექსტი</label>
    <input type="text" id="maintext" formControlName="mainText" />
  </div>
  <div class="from-field">
    <label class="history">ისტორია</label>
    <textarea
      class="form-control"
      formControlName="history"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">აიბიტურიენტებისთვის</label>
    <textarea
      class="form-control"
      formControlName="forpupil"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <button (click)="addProgram()">დამატება</button>
    <div
      *ngFor="let program of programs.controls; let i = index"
      formArrayName="programs"
    >
      <div formGroupName="i">
        <label for="programs">პროგრამები</label>
        <input type="text" id="programs" formControlName="program" />
        <button (click)="deleteLesson(i)">წაშლა</button>
      </div>
    </div>
  </div>
  <div class="from-field">
    <label class="history">გაცვლითი პროგრამებია</label>
    <textarea
      class="form-control"
      formControlName="ExchangePrograms"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">ლაბორატორიები</label>
    <textarea
      class="form-control"
      formControlName="Labs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">დასაქმება</label>
    <textarea
      class="form-control"
      formControlName="Jobs"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">სტუდენტური ცხოვრება</label>
    <textarea
      class="form-control"
      formControlName="StudentsLife"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">გადახდის მეთოდები</label>
    <textarea
      class="form-control"
      formControlName="PaymentMethods"
      aria-label="With textarea"
    ></textarea>
  </div>
  <div class="from-field">
    <label class="history">ღონისძიებები</label>
    <textarea
      class="form-control"
      formControlName="Events"
      aria-label="With textarea"
    ></textarea>
  </div>
</div>
<button (click)="Submit()">Submit</button>
