<!-- ეს არის ცხრილის  -->
<!-- <div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">კრედიტები</div>
      <div class="cell">წლიური საფასური</div>
      <div class="cell">სწავლების ენა</div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">Harry Harrison</div>
      <div class="cell" data-title="Age">25</div>
      <div class="cell" data-title="Occupation">Front-End Developer</div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="header">
    <div class="program-logo">
      <p>ფოტო</p>
    </div>
    <div class="container1">
      <div class="grid">
        <div class="column">
          <h2>უნივერსიტეტი</h2>
          <p>თსუ</p>
        </div>
        <div class="column">
          <h2>პროგრამა</h2>
          <p>ხელოვნება</p>
        </div>
        <div class="column">
          <h2>ფაკულტეტი</h2>
          <p>ფაკულტეტი</p>
        </div>
      </div>
    </div>
    <div class="search-box">
      <label class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, perspiciatis quos tempora, voluptates, 
          architecto commodi ullam mollitia quasi
           harum quae laudantium tempore excepturi porro! Minima reprehenderit quam tenetur ipsum voluptates.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus soluta,
            est illum distinctio dignissimos dolores reiciendis tenetur explicabo,
            temporibus enim ducimus cumque vitae. Nam quibusdam a blanditiis facere distinctio.
        </p>
      </label>
    </div>
  </div>
  <div class="content">
    <div class="main-button">საგნები</div>
    <div class="sub-sections">
      <div class="sub-section left">
        <h3>სავალდებულო საგნები</h3>
        <div class="subject">
          <p>ქართული</p>
          <div class="cof">
          <p class="coefficient">კოეფიციენტი:</p>
          <p class="minimum">მინიმალური ზღვარი:</p>
          <p class="priority">პრიორიტეტი:</p>
        </div>
      </div>
        <div class="subject">
          <p>მათემატიკა</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
      </div>
      
      <div class="sub-section right">
        <h3>არჩევითი სავალდებულო საგნები</h3>
        <div class="subject">
          <p>ინგლისური</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
        <div class="subject">
          <p>ინგლისური</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
        <div class="subject">
          <p>ხელოვნება</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>