<!-- ეს არის ცხრილის  -->
<!-- <div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">კრედიტები</div>
      <div class="cell">წლიური საფასური</div>
      <div class="cell">სწავლების ენა</div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">Harry Harrison</div>
      <div class="cell" data-title="Age">25</div>
      <div class="cell" data-title="Occupation">Front-End Developer</div>
    </div>
  </div>
</div> -->
<app-navbar-for-pupil />

<!-- <div class="container">
  <div class="header">
    <div class="program-logo">
      <p>ფოტო</p>
    </div>
    <div class="container1">
      <div class="grid">
        <div class="column">
          <h2>უნივერსიტეტი</h2>
          <p>{{ card?.title }}</p>
        </div>
        <div *ngIf="matchedProgram" class="column">
          <h2>პროგრამა</h2>

          <p>{{ matchedProgram.programName }}</p>
        </div>
        <div class="column">
          @for (section of card?.sections; track $index) {
          <h2>ფაკულტეტი</h2>
          <p>{{ section.title }}</p>
          }
        </div>
      </div>
    </div>
    <div class="search-box">
      <label class="content">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod,
          perspiciatis quos tempora, voluptates, architecto commodi ullam
          mollitia quasi harum quae laudantium tempore excepturi porro! Minima
          reprehenderit quam tenetur ipsum voluptates. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Unde voluptatibus soluta, est illum
          distinctio dignissimos dolores reiciendis tenetur explicabo,
          temporibus enim ducimus cumque vitae. Nam quibusdam a blanditiis
          facere distinctio.
        </p>
      </label>
    </div>
  </div>
  <div class="content">
    <div class="main-button">საგნები</div>
    <div class="sub-sections">
      <div class="sub-section left">
        <h3>სავალდებულო საგნები</h3>
        <div *ngFor="let item of mathcedSavaldebuloSagani">
          <div class="subject">
            <p>{{ item.SagnisSaxeli }}</p>
            <p class="coefficient">{{ item.Koeficienti }}</p>
            <p class="minimum">{{ item.MinimaluriZgvari }}</p>
            <p class="priority">{{ item.Prioriteti }}</p>
          </div>
        </div>
      </div>

      <div class="sub-section right">
        <h3>არჩევითი სავალდებულო საგნები</h3>
        <div *ngFor="let item of mathcedAraSavaldebuloSagani">
          <div class="subject">
            <p>{{ item.SagnisSaxeli }}</p>
            <p class="coefficient">{{ item.Koeficienti }}</p>
            <p class="minimum">{{ item.MinimaluriZgvari }}</p>
            <p class="priority">{{ item.Prioriteti }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-footer-for-pupil />
