//ეს არის ცხრილის

// body {
//     font-family: 'Helvetica Neue', Helvetica, Arial;
//     font-size: 14px;
//     line-height: 20px;
//     font-weight: 400;
//     color: #3b3b3b;
//     -webkit-font-smoothing: antialiased;
//     // font-smoothing: antialiased;
//     background: #2b2b2b;
  
//     @media screen and (max-width: 580px) {
//       font-size: 16px;
//       line-height: 22px;
//     }
//   }
  
//   .wrapper {
//     margin: 0 auto;
//     padding: 40px;
//     max-width: 800px;
//   }
  
//   .table {
//     margin: 0 0 40px 0;
//     width: 100%;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.2);
//     display: table;
  
//     @media screen and (max-width: 580px) {
//       display: block;
//     }
//   }
  
//   .row {
//     display: table-row;
//     background: #f6f6f6;
  
//     &:nth-of-type(odd) {
//       background: #e9e9e9;
//     }
  
//     &.header {
//       font-weight: 900;
//       color: #ffffff;
//       background: #ea6153;
//     }
  
//     &.green {
//       background: #27ae60;
//     }
  
//     &.blue {
//       background: #2980b9;
//     }
  
//     @media screen and (max-width: 580px) {
//       padding: 14px 0 7px;
//       display: block;
  
//       &.header {
//         padding: 0;
//         height: 6px;
  
//         .cell {
//           display: none;
//         }
//       }
  
//       .cell {
//         margin-bottom: 10px;
//         width: 31%;
  
//         &:before {
//           margin-bottom: 3px;
//           content: attr(data-title);
//           min-width: 98px;
//           font-size: 10px;
//           line-height: 10px;
//           font-weight: bold;
//           text-transform: uppercase;
//           color: #969696;
//           display: block;
//         }
//       }
//     }
//   }
  
//   .cell {
//     padding: 6px 12px;
//     display: table-cell;
  
//     @media screen and (max-width: 580px) {
//       padding: 2px 16px;
//       display: block;
//     }
//   }

// 



.container {
  font-family: Arial, sans-serif;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h2{
  
  color: #4682b4;
  
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 150px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}




.header {
  margin-bottom: 20px;
  // .program-logo {
  //   background-color: #4682b4;
  //   color: white;
  //   padding: 10px;
  //   border-radius: 10px;
  //   text-align: center;
  //   width: 30%;
  // }
}

// 
.search-box {
  margin-bottom: 20px;


  input {
    width: 55%;
    margin-left: 280px;
    margin-top: 15px;
    padding: 12px;
    border: 1px solid #4682b4;
    border-radius: 5px;
    text-align: center;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  background-color: #ffa07a;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  .nav-item {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.content {
  .main-button {
    background-color: #4682b4;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .sub-sections {
    display: flex;
    justify-content: space-between;

    .sub-section {
      width: 48%;
      background-color: #90ee90;
      padding: 10px;
      border-radius: 5px;

      &.right {
        background-color: #87cefa;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
      }

      .subject {
        background-color: white;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;

        p {
          margin: 5px 0;
          font-size: 1.8em;
          text-align: center;
        }

      .cof{
        font-size: 20px;
      }

        .coefficient, .minimum, .priority {
          font-size: 0.8em;
          color: #666;
        }
      }
    }
  }
}