<!-- ეს არის ცხრილის  -->
<!-- <div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">კრედიტები</div>
      <div class="cell">წლიური საფასური</div>
      <div class="cell">სწავლების ენა</div>
    </div>

    <div class="row">
      <div class="cell" data-title="Name">Harry Harrison</div>
      <div class="cell" data-title="Age">25</div>
      <div class="cell" data-title="Occupation">Front-End Developer</div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="header">
    <div class="program-logo">
      <p>ფოტო</p>
    </div>
    <div class="container1">
      <div class="grid">
        <div class="column">
          <h2>უნივერსიტეტი</h2>
          <p>თსუ</p>
        </div>
        <div class="column">
          <h2>პროგრამა</h2>
          <p>ხელოვნება</p>
        </div>
        <div class="column">
          <h2>ფაკულტეტი</h2>
          <p>ფაკულტეტი</p>
        </div>
      </div>
    </div>
    <div class="search-box">
      <input type="text" placeholder="პროგრამის შესახებ">
    </div>
  </div>
  
  
  <!-- <div class="nav-menu">
    <div class="nav-item">აკრედიტაცია</div>
    <div class="nav-item">კრედიტები</div>
    <div class="nav-item">წლიური საფასური</div>
    <div class="nav-item">დაფინანსება</div>
    <div class="nav-item">სწავლების ენა</div>
  </div> -->
  
  <div class="content">
    <div class="main-button">საგნები</div>
    
    <div class="sub-sections">
      <div class="sub-section left">
        <h3>სავალდებულო საგნები</h3>
        <div class="subject">
          <p>ქართული</p>
          <div class="cof">
          <p class="coefficient">კოეფიციენტი:</p>
          <p class="minimum">მინიმალური ზღვარი:</p>
          <p class="priority">პრიორიტეტი:</p>
        </div>
      </div>
        <div class="subject">
          <p>მათემატიკა</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
      </div>
      
      <div class="sub-section right">
        <h3>არჩევითი სავალდებულო საგნები</h3>
        <div class="subject">
          <p>ინგლისური</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
        <div class="subject">
          <p>ინგლისური</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
        <div class="subject">
          <p>ხელოვნება</p>
          <div class="cof">
            <p class="coefficient">კოეფიციენტი:</p>
            <p class="minimum">მინიმალური ზღვარი:</p>
            <p class="priority">პრიორიტეტი:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>