<app-navbar-for-pupil />

<div class="title" *ngIf="Card">
  <h2>{{ Card.title }}</h2>
</div>

<div *ngIf="cards$ | async as cards">
  <div *ngFor="let card of cards">
    <div *ngFor="let section of card.sections">
      <section class="projects section" id="projects">
        <div class="projects__container container grid">
          @for (program of section.programNames; track $index) { @if
          (program.programName == Card.title) {
          <!-- {{ program.programName }} -->
          <article class="projects__card">
            <div class="projects__image">
              <img
                src="{{ card.url }}"
                alt="image"
                class="projects__img"
                width="312px"
                height="193px"
              />
            </div>

            <div class="projects__content">
              <h2 class="projects__title">{{ card.title }}</h2>
              <p class="projects__description">{{ card.mainText }}</p>
            </div>
            <div class="projects__buttons">
              <i class="ri-dribbble-line"></i>გაიგე მეტი
              <!-- <button class="Btn" (click)="onCardClicked(Uni.key)">გიაგე მეტი</button> -->
            </div>
          </article>
          }
         }
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer-for-pupil />