
footer {
  background: #342833;
  // height: 200px;
}

footer h1 {
  color: white;

}

a{
  text-decoration: none;
  
}
.text-uppercase{
  display: flex;
  margin-left: 13px;
}
.footericon{
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 426px) {
  .footericon{
    display: flex;
    justify-content: center !important;
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 760px) {
  .footericon{
    display: flex;
    justify-content: center !important;
    margin-left: 0px !important;
  }
  .text-uppercase{
    display: flex;
    justify-content: center !important;
  }
}
#svg{
  width: 200px;
  height: 200px;
}
