
body{
    background-color:#CED4DA ;
    font-style: normal;
    font-family: "Akaya Telivigala", system-ui;
    font-style: normal;
    font-family: "Noto Serif Georgian", serif;
    font-optical-sizing: auto; 
}