<!-- <div class="container">
    <div class="search-wrapper" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
        <div id="searchBox">
            <div class="bubble" [ngStyle]="bubbleStyle(0)">
                <p class="S" [ngStyle]="{'color': sColor}">S</p>
            </div>
            <div class="bubble" [ngStyle]="bubbleStyle(1)">
                <p style="color: #D1333B;">E</p>
            </div>
            <div class="bubble" [ngStyle]="bubbleStyle(2)">
                <p style="color: #EEB80B;">A</p>
            </div>
            <div class="bubble" [ngStyle]="bubbleStyle(3)">
                <p style="color: #4C83F0;">R</p>
            </div>
            <div class="bubble" [ngStyle]="bubbleStyle(4)">
                <p style="color: #1CAF60;">C</p>
            </div>
            <div class="bubble" [ngStyle]="bubbleStyle(5)">
                <p style="color: #D1333B;">H</p>
            </div>
        </div>
    </div>
</div> -->