body{
    margin:  0px;
    padding: 0px;
  }
  .top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .left{
      width: 70%;
      height: 26%;
      display: flex;
      justify-content: center;
      .img{
        width: 100%;
        padding-left: 60px;
        img{
          width: 91%;
          height: 330px;
          border-radius: 40px;
        }
      }
    }
    .right{
      width: 30%;
      padding: 38px 59px 0px 0px;
      .title{
        text-align: center;
        margin-bottom: 30px;
        h3{
          font-size: 23px;
        }
      }
      .price{
        width: 100%;
        height: 17%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
  
        div{
          border: 1px solid #EE964B;
      width: 270px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      h4{
        padding-top: 7px;
        font-size: 20px !important;
        font-weight: 400 !important;
      }
        }
      }
      .code{
        width: 100%;
        height: 17%;
        display: flex;
        justify-content: center;
        div{
          border: 1px solid #EE964B;
      width: 270px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      p{
        font-size: 20px !important;
        font-weight: 400 !important;
        padding-top: 10px;
      }
        }
      }
    }
  }
  .title{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    h3{
      font-size: 25px;
    }
  }
  .programisAgwera{
    width: 100%;
    display: flex;
    justify-content: center;
  div{
    width: 80%;
    display: flex;
    justify-content: center;
    p{
      font-size: 15px;
    }
  }
  }
  
  .static{
    width: 100%;
    margin-top: 20px;
    .title{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      h3{
        font-size: 25px;
      }
    }
    .Bottom{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      h2{
        font-size: 20px;
      }
      div{
        width: 60%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-bottom: 10px;
        h4{
          font-size: 16px;
          font-weight: 400;
        }
        .divbottom{
          width: 300px;
        }
      }
      .stadinglanguage{
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
      }
      .kvalifikacia{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        height: 75px;
      }
      .dafinanseba{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
      }
    }
  }
  .lowerPart{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    .box{
      width: 80%;
      display: flex;
      justify-content: space-around;
      h4{
        font-size: 20px;
      }
      .kreditebi{
        width: 100%;
        display: flex;
        flex-direction: column;
        div{
          display: flex;
          justify-content: right;
          padding-right: 60px;
  
        }
        .kreditebitext{
          width: 100%;
          display: flex;
          justify-content: right;
          padding-right: 170px;
          p{
            font-size: 17px;
          }
        }
      }
      .adgilebisraodenoba{
        width: 100%;
        display: flex;
        flex-direction: column;
        div{
          display: flex;
          justify-content: left;
          padding-left: 60px;
        }
        .adgilebisraodenobatext{
          width: 100%;
          display: flex;
          justify-content: left;
          padding-left: 170px;
          p{
            font-size: 17px;
  
          }
          
        }
      }
    }
  }
  .container {
    padding: 20px;
    width: 80%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: #5D737E;
    border-radius: 25px;
  
  }
  .bottom{
    margin-top: 50px;
  }
  .col-lg-4 {
    margin-bottom: 10px;
    height: 50px;
  }
  
  .card {
    padding-top: 10px;
    background-color: #5D737E;
    color: black;
    border: 0px;
    text-align: center;
    word-wrap: 200px;
  h1{
    font-size: 17px;
    color:white;
  }
  :hover{
    color: black;
    cursor: pointer;
  }
  }
  .actice{
    color: green;
  }
  h1{
    color: white;
    font-size: 25px;
  }
  .savaldebuloSagnebi{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .text{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: #EE964B;
      border: 2px dashed #5D737E;
      border-radius: 20px;
      width: 340px;
      height: 65px;
      h4{
        font-size: 20px;
        font-weight: 300;
        color: white;
      }
    }
  }
  .maxasiateblevbi{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    div{
      width: 80%;
      display: flex;
      justify-content: center;
      h3{
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
  .language{
    width: 100%;
    display: flex;
    margin-top: 20px;
    .left{
      width: 20%;
      display: flex;
      flex-direction: column;
      .studlanguage{
        width: 90%;
        height: 50px;
        background-color: #5D737E;
        border: 2px dashed #F0F3BD;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          display: flex;
          justify-content: center;
          align-items: center;
          h4{
            color: white;
          }
        }
      }
    }
    .right{
      width: 100%;
      display: flex;
      justify-content: center;
      p{
        font-weight:bold;
      }
      div{
        width: 94%;
        display: flex;
        justify-content: center;
      .koeficientitext{
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .minimanulizgvaritext{
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .prioritetitext{
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .adgilebisraodeonabtext{
        display: flex;
        justify-content: left;
        align-items: center;
      }
      }
    }
  }
  @media screen and (max-width: 1441px) {
    .container{
      width: 85%;
    }
  }
  @media screen and (max-width: 1025px) {
    .card h1{
     font-size: 13px;
   
     }
     .col-lg-4{
       width: 225px;
   
     }
     .container{
       width: 90%;
   
     }
     .static .Bottom div{
      width: 77%;
    }
    .language .left .studlanguage div h4{
      font-size: 17px;
    }
    .top .right{
      padding: 30px 59px 0px 0px;
    }
    .top .left .img img{
      height: 255px;
    }
    .top .right .price div {
      width: 189px;
    }
    .top .right .title h3{
      font-size: 15px;
    }
    
   }
   @media screen and (max-width: 770px) {
    .top .right{
      width: 35%;
    }
    .top .left{
      width: 63%;
      height: 26%;
    }
      .top .right .price div {
        width: 170px;
  
      }
      .container{
        width: 95%;
  
      }
      .col-lg-4{
        width: 175px;
  
      }
        .top .left .img img{
      height: 215px;
    }
      .top .right{
      padding: 18px 59px 0px 0px;
    }
    .top .right .code div {
      width: 170px;
    }
    .static .Bottom div{
      width: 85%;
    }
      .lowerPart  .box  h4 {
      font-size: 17px;
      }
      .maxasiateblevbi{
        justify-content: right;
    
      }
      .language  .right  div  .koeficientitext {
      justify-content: center;
      }
      .language .right div .minimanulizgvaritext {
      justify-content: center;
    
      }
      .language .right div .prioritetitext {
        justify-content: center;
      
        }
        .language .right div .adgilebisraodeonabtext
        {
          justify-content: center;
        
          }
          .language .left .studlanguage {
          width: 100%;
          }
          .language .left .studlanguage div h4 {
          font-size: 15px;
          }
  }
  @media screen and (max-width: 430px) {
    .top{
        flex-direction: column;
  
        .left{
          width: 100%;
  
        }
        .img{
          padding-left: 35px;
  
        }
        .right{
          padding: 0px;
          width: 100%;
        }
    }
    .container{
      width: 90%;
      .row{
  
        display: flex;
        justify-content: center;
        flex-direction: column;
      .col-lg-4{
        width: 100%;
  
      }
      }
  
    }
    .static{
      .title{
        h3{
          font-size: 20px;
        }
      }
      .Bottom{
        div{
          width: 100%;
          flex-direction: column;
          .stadinglanguage{
            width: 141px;
          }
          .kvalifikacia{
            width: 141px;
      
          }
          .dafinanseba{
            width: 245px;
            margin-top: 15px;
      
          }
          .divbottom{
            width: 230px;
  
          }
        }
        h2{
          font-size: 15px;
  
        }
      }
    }
    .lowerPart{
      .box{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .adgilebisraodenoba {
          justify-content: center;
          .adgilebisraodenobatext{
            justify-content: center;
            padding: 0px;
          }
          div{
            padding: 0px;
            justify-content: center;
          }
        }
        h4{
          font-size: 13px;
  
        }
        .kreditebi{
          justify-content: center;
          div{
            justify-content: center;
            padding: 0px;
          }
          .kreditebitext{
            padding: 0px;
            justify-content: center;
          }
  
        }
      }
    }
    .savaldebuloSagnebi .text{
      width: 250px;
      h4{
        font-size: 16px;
  
      }
    }
    .top, .row, .lowerPart, .container {
      gap: 10px; /* Example value */
    }
    .price, .code {
      width: 100%;
      height: 17%;
      display: flex;
      justify-content: center;
    
      div {
        border: 1px solid #EE964B;
        width: 270px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    
        h4, p {
          font-size: 20px !important;
          font-weight: 400 !important;
        }
      }
    }
      .maxasiateblevbi div h3{
        font-size: 9px;
      }
      .language .right div p{
        font-size: 10px;
      }
      .language .left .studlanguage div{
        width: 75px;
        h4{
          font-size: 10px;
          text-align: center;
        }
  
      }
      .top .left .img{
        padding-left: 35px;
    
      }
  }
  @media screen and (max-width: 325px) {
    .top .left .img{
      padding-left: 25px;
  
    }
    .static .title h3{
      font-size: 15px;
    }
    .static .Bottom h2{
      font-size: 12px;
    }
    .static .Bottom div h4{
      font-size: 11px;
    }
    .lowerPart .box h4{
      font-size: 10px;
    }
    .lowerPart .box .kreditebi .kreditebitext p{
      font-size: 12px;
    }
    .lowerPart .box .adgilebisraodenoba .adgilebisraodenobatext p {
    font-size: 12px;
    }
    .savaldebuloSagnebi .text{
      width: 150px;
      height: 55px;
    }
    .savaldebuloSagnebi .text h4{
      font-size: 13px;
    }
    .maxasiateblevbi div h3{
      font-size: 7px;
    }
    .language .right div p {
      font-size: 9px;
    }
    .language .left .studlanguage div h4 {
      font-size: 8px;
    }
    }
  .selected-card {
    color: black !important;
  }
  
  