
.data1{
    display: flex;
  }
  .containerimg {
    display: flex;
    // justify-content: center;
    // align-items: center;
  // margin-left: 300px;
    
  }
    // min-height: 100vh;
  
    .image-section {
      flex: 1; 
      img {
        width: 400px;
        max-width: 100%;
      
        
      }
    }
  
    @media (max-width: 768px) {
      .data1{
        display: flex;
        flex-direction: column;
        bottom: 10px;
        
      }
  
      .containerimg{
      margin-bottom: 20px;
      }
      .authorization-container {
        margin-left: 0px !important;
      }
    }
  
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e8f5e9, #e3f2fd, #e8eaf6);
    padding: 25px;
  }
  
  
  .authorization-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
     margin-left: 200px;
  
    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 10px;
      font-size: 24px;
    }
  
    .form-group {
      display: flex;
      flex-direction: column; 
      margin-bottom: 15px;
  
      label {
        margin-bottom: 5px;
        color: #555;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px dashed #aaa;
        border-radius: 20px;
        font-size: 14px;
        background-color: #5D737E;
      
        &::placeholder {
         color: #333333ca;
          opacity:1; 
        }
  
        // &:focus {
        //   outline: none;
        //   border-color: #7fba00;
        //   box-shadow: 0 0 0 2px rgba(127, 186, 0, 0.25);
        // }
      }
    }
  
    a{
      text-decoration: none;
      color: #ba7300;
      font-size: 14px;
      margin-left: 9px;
    }
  
    // .password-input {
    //   position: relative;
  
    //   .toggle-password {
    //     position: absolute;
    //     right: 10px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     background: none;
    //     border: none;
    //     cursor: pointer;
    //   }
    // }
  
    button[type="submit"] {
      width: 70%;
      margin: 0 auto;
      padding: 10px;
      background-color: #85A98D;
      color: white;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
      &:hover {
        background-color: #707b73;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
  
      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }