<app-navbar-with-wave />
<main>
  <div class="site">
    <div class="Container">
      <div class="box">
        <div class="img">
          <img src="{{ UniCard.url }}" alt="" />
        </div>
      </div>
      <div class="text-container">
        <span class="border"></span>
        <h1>{{ UniCard.title }}</h1>
        <p>
          {{ UniCard.history }}
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      @for (card of categories; track $index){
      <div class="col-lg-4">
        <div (click)="category = card.title" class="card">
          <h1 [ngClass]="{ 'selected-card': category === card.title }">
            {{ card.title }}
          </h1>
        </div>
      </div>
      }
    </div>
  </div>
  <div [ngSwitch]="category">
    <div *ngSwitchDefault>
      <div
        style="display: block"
        #Program
        *ngFor="let section of UniCard.sections"
      >
        <div class="title">
          <h2>{{ section.title }}</h2>
        </div>
        <div class="container1">
          <div class="row1">
            @for (program of section.programNames; track $index) {
            <div
              (click)="FaclutyClicked(program.programName)"
              class="col-lg-4"
              id="col-lg-4"
            >
              <div class="card1">
                {{ program.programName }}
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'სიახლეები'">
      <div class="card-container1">
        @for (Card of UniCard.events; track $index){
        <div class="card3" (click)="onCardClicked1(UniCard.id,Card.id)">
          <img class="eventimg" src="{{ Card.url }}" />
          <div class="card-content2">
            <p>{{ Card.title }}</p>
            <div class="Date">
              {{ Card.time }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div *ngSwitchCase="'გზამკვლევი'">
      <div class="guide" *ngIf="UniCard">
        <div class="accord">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  სტუდენტური ცხოვრება
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.studentsLife }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  მოსწავლისთვის
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.forPupil }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  ლაბები
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.labs }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  გაცვლითი პროგრამები
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.exchangePrograms }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  სტიპენდიები და დაფინანსება
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.scholarshipAndFunding }}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseten"
                  aria-expanded="false"
                  aria-controls="flush-collapseten"
                >
                  გადახდის მეთოდები
                </button>
              </h2>
              <div
                id="flush-collapseten"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  {{ UniCard.paymentMethods }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer-for-pupil></app-footer-for-pupil>
