* {
    transition: .33s ease all;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Helvetica Neue", "Arial";
    box-sizing: border-box;
  }
  
  main{
    width: 100%;
    position: relative;
    bottom: 370px;
  }
  
 .border {
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: white;
    margin-bottom: 30px;
  }
  
  img {
    border-radius: 50px;
    width: 100%;
  }
  
  h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 15px;
  }
  
  p {
    color: white;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
    max-height: 153px;
    overflow: overlay;
  }
  
  
  div.site {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 491px;
  }
  
  
  div.Container {
    background-color: #5D737E !important;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 30px; */
    width: 77% !important;
    height: 336px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  }
  .box{
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.img {
    // width: 100%;
    // background: url("https://images.unsplash.com/photo-1470299568568-d4e15c4b6472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 85%;
    height: 60%;
  }
  
  div.text-container {
    margin: 60px 45px 55px;
  }
  
  .container{
    max-width: 1158px;

  }
  @media screen and (min-width: 768px) {
   div.Container {
     flex-direction: row;
      width: 100%;
      margin-top: 50px;
   }
    
    div.img {
       height: 420px;
       min-width: 360px;
    }
    
    div.text-container {
       margin: 0 60px;
       max-width: 660px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    div.Container {
      //  max-width: 1200px;
       margin-top: 70px;
    }
  }
  
  .container {
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F3BD;
    border-radius: 25px;
  
  }
  
  .col-lg-4 {
    margin-bottom: 10px;
  }
  
  .card {
    padding-top: 10px;
    background-color: #F0F3BD;
    color: black;
    border: 0px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  h1{
    color:black;
  }
    &:hover {
      color: green;
    }
  
  
  
        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
  }
  .actice{
    color: green;
  }
  h1{
    color: white;
    font-size: 25px;
  }
  
  
  .container1 {
    padding: 20px;
    margin-top: 20px;
  }
  
  .row1 {
    display: flex;
    flex-wrap: wrap;
    cursor:pointer;
   :hover{
    transform: scale(1.05);

   } 
  }
  
  #col-lg-4 {
    margin-bottom: 20px;
  }
  
  .card1 {
    width: 480px;
    background-color: #5D737E;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    border: 2px dashed #F0F3BD;
    
    // cursor: pointer;
    // transition: background-color 0.3s ease;
  
    // &:hover {
    //   background-color: #6aabb2;
    // }
  
  
  
    //     transition: transform 0.3s ease;
  
    // &:hover {
    //   transform: scale(1.07);
    // }
  }
  .title{

    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    
  h2{
    color: white;
  }
  }
  .card-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .card3{
    background-color: transparent !important;
    border-radius: 35px !important; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    height: 260px;
    margin: 1rem;
    transition: transform 0.2s;
    border: 1px dashed;
  }
  .card3:hover {
    transform: scale(1.05);
}
.card3 img {
  width: 100%;
  height: 115px;
  object-fit: cover;
}
.card-content2 {
  display: flex;
  padding: 0px !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.card-content2 h2 {
  margin-top: 0;
  font-size: 1.5rem;
}
.card-content2 p {
  font-size: 14px;
  color: black;
  font-weight: 600;
  text-align: center;
}
.Date{
  display: flex;
  width: 245px;
  justify-content: center;
  align-items: center;
}
.Buttons{
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.Btn1{
  margin-right: 4px;
  button{
    font-size: 14px;
    display: flex;
    color: white;
    border-radius: 10px;
    border: 1px dashed;
    background-color: #5D737E;
    }
}
.Btn2{
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 26px;
        color: white;
        border-radius: 10px;
        border: 1px dashed;
        background-color: #5D737E;
    }
}
  
  @media screen and (max-width: 2631px) {
    #col-lg-4{
      display: flex;
      justify-content: center;
    }
    .card1 {
      width: 90%;
    }
  }
  @media screen and (max-width: 1492px) {
    .card1 {
      width: 450px;
    }
  }
  @media screen and (max-width: 1384px) {
    .card1 {
      width: 430px;
    }
  }
  @media screen and (max-width: 1320px) {
    .card1 {
      width: 390px;
    }
  }
  @media screen and (max-width: 1222px) {
    .card1 {
      width: 365px;
    }
  }
  @media screen and (max-width: 1120px) {
    .card1 {
      width: 325px;
    }
  }
  @media screen and (max-width: 1025px) {
    .card1 {
      width: 300px;
    }
    main{
      bottom: 380px;
    }
  }
  @media screen and (max-width: 990px) {
    .card1 {
      width: 420px;
    }
    #col-lg-4{
      padding:0px 0px 0px 20px ;
    }
  }
  @media screen and (max-width: 913px) {
    .row1{
      justify-content: center;
    }
    .card1 {
      width: 625px;
    }
    .title h2 {
      font-size: 25px;
    }
    #col-lg-4{
      padding:0px;
    }
  }
  
  
  @media screen and (max-width: 777px) {
    .title h2 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    div.Container{
      flex-direction: row;
      width: 92% !important;
      margin-top: 50px;
    }
    .box{
      width: 470%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.img{
  
      height: 57%;
      width: 91%;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      height: 100%;
    }
    div.text-container{
      margin: 40px 15px 30px;
    }
    h1{
      color: white;
      font-size: 14px;
  }
    p{
      color: white;
      font-weight: 200;
      line-height: 24px;
      font-size: 15px;
    }
    // span{
    //   display: inline-block;
    //   width: 50px;
    //   height: 4px;
    //   background-color: white;
    //   margin-bottom: 10px;
    // }
  }
  @media screen and (max-width: 426px) {
    div.site{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 640px;
    }
  
    div.Container{
      flex-direction: column;
      width: 92% !important;
      margin-top: 50px;
      height: 86%;
    }
  
    .box{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    main{
      bottom: 280px;
    }
    div.img{
      height: 57%;
      width: 91%;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 100%;
      height: 144%;
    }
    div.text-container{
      margin: 0px 25px 40px;
    }
    .card1 {
      width: 350px !important;
  }
  .container{
    width: 370px;

  }
  }
  @media screen and (max-width: 640px) {
    .title h2 {
      font-size: 15px;
    }
    .card1 {
      width: 500px;
    }
  }
  @media screen and (max-width: 512px) {
    .title h2 {
      font-size: 15px;
      text-align: center;
    }
    .card1 {
      width: 400px;
    }
  }
  @media screen and (max-width: 325px) {
    .container{
      width: 280px;
    }
    .card1 {
      width: 290px !important;
  }
  }
  
  .card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
  }
  
  .card2 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 1rem;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card2 .img1 {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    padding-top: 20px;
  }
  
  .card-content2 {
    padding: 1rem;
  }
  
  .card-conten2t h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .card-content2 h2 {
    font-size: 15px;
  }
  .card-content2 p {
    color: #555;
  }
  .guide{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .accord{
      width: 65%;
    }
    button{
      color: white;
      background-color: #5D737E;
    }
  }
  svg:focus {
    outline: none;
  }
  #cotainerfluid{
    background-color: #342833;
    padding: 20px;
  }
  svg {
    border: none;
    border-width: 0;
    box-shadow: none;
  }
  .header-content{
    height: 265px;
    background-color:  #342833;
  }
  .wave-container{
    background-color:  #342833;
  
  }
  .navbar, .navbar-nav {
    border: none; /* Remove border */
  }
  
  .nav-link {
    border-bottom: none; /* Remove underline or bottom border from links */
    text-decoration: none; /* Remove underline from links */
  
  }
    .active {
    font-weight: bold;
    color: blue; /* Example styling */
  }
  .nav-link{
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #c1ccd5;
    }
  
        transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.07);
    }
  }
    
  nav ul li a {
    color: white;
    text-decoration: none;
    
    &:hover {
      color: #3e8e41;
     
    }
  }
  #color{
    background-color: #342833;
  }
  #svg{
    width: 120px;
    height: 100%;
    cursor: pointer;
  }
  #svg2{
    width: 35px;
    height: 100%;
    color: #F0F3BD;
  }
  .second-navbar {
    transition: top 0.3s ease-in-out;
    position: fixed;
    opacity: 1;
    background-color:  #342833;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    transform: translateY(-100%);
    z-index: 1030; 
    }
    .accordion-item{
      background-color: transparent !important;
      margin-bottom: 10px;
      border: 0px;
    }
    .accordion-button{
      border-radius: 25px !important;
    }
    .content {
    margin-top: 100px;
    height: 2000px; 
    }
    
    //header and navbar
    .site-header {
    width: 100%;
    height: 600px;
    }
    
    .site-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    }
    
    .header-content {
    position: relative;
    z-index: auto; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 
    }