<app-navbar-with-wave />

<div class="title">
  <ng-container *ngIf="language === 'ka'">
    <h3>ივენთები</h3>
  </ng-container>
  <ng-container *ngIf="language === 'en'">
    <h3>Events</h3>
  </ng-container>
</div>
<main>
  <div class="filter">
    <div class="Types">
      <ng-container *ngIf="language === 'ka'">
        <div
          *ngFor="let item of categories"
          (click)="onCategoryClick(item.title)"
          [ngClass]="{ active: category === item.title }"
        >
          <h4>{{ item.title }}</h4>
        </div>
      </ng-container>

      <ng-container *ngIf="language === 'en'">
        <div
          *ngFor="let item of categoriesEng"
          (click)="onCategoryClick(item.title)"
          [ngClass]="{ active: category === item.title }"
        >
          <h4>{{ item.title }}</h4>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="card-container">
    @for (Card of filteredEventCards; track $index) {
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="flip-card-front">
          <div class="card">
            <img [src]="Card.url" alt="Event Image" />
            <div class="card-content">
              <p class="card-title">{{ Card.title }}</p>
              <div class="date">
                <p>{{ Card.time }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card-back">
          <div class="back-content">
            <h4 class="card-description">{{ Card.description }}</h4>

            <div class="buttons">
              <ng-container *ngFor="let type of Card.types">
                <div
                  class="btn1"
                  [ngStyle]="{
                    'background-color': getColor(type),
                    color: 'white'
                  }"
                >
                  {{ type.type || type }}
                </div>
              </ng-container>
            </div>

            <button class="see-more-btn" (click)="onCardClicked(Card.id)">
              იხილე მეტი
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</main>
