<app-navbar-with-wave />

<div class="title">
  <h3>ივენთები</h3>
</div>
<main>
  <div class="filter">
    <div class="Types">
      <div
        *ngFor="let item of categories"
        (click)="onCategoryClick(item.title)"
        [ngClass]="{ active: category === item.title }"
      >
        <h4>{{ item.title }}</h4>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div
      class="card"
      *ngFor="let card of filteredEventCards"
      (click)="onCardClicked(card.id)"
    >
      <img src="{{ card.url }}" />
      <div class="card-content">
        <p>{{ card.title }}</p>
      </div>
      <div class="Date">{{ card.time }}</div>
      <div class="Buttons">
        <ng-container *ngFor="let type of card.types">
          <div
            [ngStyle]="{
              'background-color': getColor(type),
              'font-size': '10px',
              color: 'white',
              padding: '5px',
              'border-radius': '5px'
            }"
            class="Btn"
          >
            {{ type.type || type }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</main>
